[2016-12-07 04:29] ksy1477 opened #316 "I cannot find VehicleRoutingAlgorithmBuilder in jsprit"
I would like to use soft constraint for my model but i cannot import VehicleRoutingAlgorithmBuilder in my class.. I really want to know how to use it

[2016-12-07 07:43] oblonski commented on #315
Can we discuss this here please: https://discuss.graphhopper.com/?

[2016-12-07 07:43] #315 closed

[2016-12-07 07:43] oblonski commented on #316
Please ask these kind of questions here: https://discuss.graphhopper.com/

[2016-12-07 07:43] #316 closed

[2016-12-07 07:45] oblonski commented on #230
it is partly contained in the master already. we plan to make a new release this month

[2016-12-08 07:33] Rahamathulla opened #317 "Does Jsprit support Jdk1.8"
I am unable to find any documentation for Java version compatibility.

I would like to know the Java version compatibility for the latest stable jsprit release.

Thanks.

[2016-12-08 10:11] oblonski commented on #317
1.6, but we switch to 1.8 soon

[2016-12-08 10:11] #317 closed

[2016-12-08 10:13] oblonski commented on #294
it is already done in this branch: https://github.com/graphhopper/jsprit/tree/job-activity-refactoring

[2016-12-08 10:13] #294 closed

[2016-12-20 10:49] stefan-- opened #319 "Unexpected result or not finding optimal solution"
Hi there,

I am experiencing behaviour opposed to what I would expect with `1.7-RC1`.

Given two vehicles and two shipments with the below configuration, I would expect `vehicle2` to remain at its depot and `vehicle` to take the two shipments sequentially. Instead, both vehicles are deployed.

[code]

![graphstream](https://cloud.githubusercontent.com/assets/2502572/21347431/d83220dc-c6a8-11e6-8b3

[2016-12-21 08:23] oblonski commented on #319
Hi @stefan--, Thanks for this. I could reproduce it. It seems to be related to https://github.com/graphhopper/jsprit/issues/286. If you remove
.setProperty(Jsprit.Parameter.FIXED_COST_PARAM, "2.") or set it zero, it should work. If #286 is fixed, it should work as well.

[2016-12-21 10:01] stefan-- commented on #319
@oblonski thanks, closing in favor of #286.

[2016-12-21 10:01] #319 closed

[2016-12-21 15:45] mndpsngh21 opened #320 "Index of vehicle effecting solution"
if we change index of vehicle of multiple type is changed then output of solution is also changing.
for example if I have 9 Deliveries and 3 vehicle with capacity of 4,4,6  and cost 4,4,6 respectively. if we add vehicle with following combination like (4,4,6) (4,6,4) or (6,4,4) then sometime solution is different.

[2017-01-03 07:30] kngoyal opened #321 "General Optimizations"
Looking at the examples, I realize how convenient it is to add constraints in JSPIRIT to handle various use-cases. Is it also possible to customize the optimization function, for example, instead of minimizing the travel distance or time, minimizing the size of fleet.

[2017-01-03 14:25] stefan-- commented on #211
Any chance that this feature [Driving time dependent break scheduling - beta release](https://discuss.graphhopper.com/t/driving-time-dependent-break-scheduling-beta-release/862) will be available in jsprit?

[2017-01-10 09:35] oblonski commented on #320
I do not understand your problem. Can you give a simple example so we can reproduce this?

[2017-01-10 09:36] oblonski commented on #321
Would you mind to ask questions here:: https://discuss.graphhopper.com/

[2017-01-10 09:36] #321 closed

[2017-01-10 15:18] oblonski commented on #103
fixed in https://github.com/graphhopper/jsprit/tree/job-activity-refactoring

[2017-01-10 15:18] #103 closed

[2017-01-10 15:21] oblonski commented on #279
unfortunately, we do not have the time to keep this jsprit-mv branch up to date and decided for now to not pull this start-tw-feature to the master. therefore, I close this for now.

[2017-01-10 15:21] #279 closed

[2017-01-10 15:30] oblonski commented on #280
fixed

[2017-01-10 15:30] #280 closed

[2017-01-10 15:37] oblonski commented on #289
I could not reproduce this with your example. It runs perfect. Which jsprit version do you use? The latest master?

[2017-01-10 17:24] oblonski commented on #286
Ok. I fear that I need to leave fix costs contribution which adds up to the insertion costs to the user. I will keep the increasing absolute fixed costs (increasing with the number of unassigned jobs left), but remove the relative fixed costs part which is dependent on future expectations about occupancy rate and thus future expectations about fixed unit costs. This, in turn, is dependent on wheth

[2017-01-11 19:26] oblonski commented on #286
If `.setProperty(Jsprit.Parameter.FIXED_COST_PARAM,"0.5")` is set, it adds [this](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/algorithm/recreate/IncreasingAbsoluteFixedCosts.java) by default, i.e. increasing absolute fixed costs. If you want to have the exact same behaviour as before (without the above bug), you need to add [DecreasingRel

[2017-01-11 19:27] #286 closed

[2017-01-11 19:32] oblonski commented on #289
For the time nobody proves the opposite, I close this.

[2017-01-11 19:32] #289 closed

[2017-01-11 19:34] oblonski commented on #320
let us move this to https://discuss.graphhopper.com/ until it becomes a concrete issue. @mndpsngh21 would you mind to discuss it there?

[2017-01-11 19:34] #320 closed

[2017-01-11 19:38] oblonski commented on #230
We made huge improvements here also thanks to @muzuro. I close this for now.

[2017-01-11 19:38] #230 closed

[2017-01-11 19:39] PGWelch commented on #286
Thanks for the fix - that's great.

[2017-01-11 19:43] #113 closed

[2017-01-11 19:44] #69 closed

[2017-01-11 22:57] cpalanzo commented on #286
Phil, 
Does this impact our trial? Do I have to wait for you to update the AWS server?
Charlie -----------------------------------------------------------------------------------------------------------  "The faster you react, the less you think. Not always, but often." - Jason Fried

      From: Philip Welch <notifications@github.com>
 To: graphhopper/jsprit <jsprit@noreply.github.com>
Cc: Charli

[2017-01-12 06:14] PGWelch commented on #286
@cpalanzo This doesn't affect ODL Live, only ODL Studio. ODL Live has replaced a lot of the base jsprit code including the code causing this bug; ODL Studio just uses the standard version of jsprit.

[2017-01-14 16:09] daald opened #322 "singleton exception: id "..." already in use. Cannot create a node."
deleted - wrong location

[2017-01-14 16:11] #322 closed

[2017-01-23 02:38] ShivKJ opened #323 "Solving Loop super problem using Jsprit"
Hi,
I am wondering if we could solve the following problem using Jsprit,

n- bikers with m- vans are send from Depot so that whenever a bike is loaded with shipment and requires to unload it, it goes to nearby van, and unload the shipment(kind of Delivery) instead of going back to depot. Also note that there are some place where van can not visit(skill feature)

[2017-01-23 07:28] oblonski commented on #323
Intersting problem. Would you mind to post this here: https://discuss.graphhopper.com/c/jsprit. Thanks.

[2017-01-23 07:28] #323 closed

[2017-02-06 20:38] oblonski commented on #180
ToDo:
- [ ] unit tests for ReasonTracker to make sure that if constraint name changes, tests fail

[2017-02-06 20:42] oblonski commented on #180
Just add this to track reasons of unassigned jobs:

[code]

If you want to add a new code and reason for your own constraint (e.g. MySimpleHardConstraint.java), just do the following

[code]
[code]

[2017-02-06 20:54] PGWelch commented on #180
nice!

[2017-02-06 21:17] oblonski commented on #180
lets see how it works.

[2017-02-06 21:17] #180 closed

[2017-02-13 04:40] alewaros opened #324 "Mark UpdateLoads as public"
Out of all of the core constraints and state updaters this is the only that is marked as default visibility instead of public. Since I want more control over the constraints I use, addCoreConstraints is set to false to manually select which ones I need and I can't due to it not being marked as public.

UpdateLoads
UpdateMaxCapacityUtilisationAtActivitiesByLookingBackwardInRoute
UpdateMaxCapacityUt

[2017-02-21 12:23] Valdecy opened #326 "Asymmetric Cost Matrix"
Hello! When a custom distance/time matrix is used with asymmetric values to solve a simple TSP, let's say: from 1 to 2 = 10 and from 2 to 1 = 5 (with cost per distance = 1). The solver returns as the solution a total cost equal 10. Meaning that it used the value from 2 to 1, twice. For real distances, this behavior is undesired because some streets or highways may have only one direction for traff

[2017-02-21 12:37] Valdecy commented on #326
Found it!

VehicleRoutingTransportCostsMatrix.Builder costMatrixBuilder = VehicleRoutingTransportCostsMatrix.Builder.newInstance(false); // For asymmetric matrices

VehicleRoutingTransportCostsMatrix.Builder costMatrixBuilder = VehicleRoutingTransportCostsMatrix.Builder.newInstance(true); // For symmetric matrices

Sorry guys...

[2017-02-21 20:47] atmikev commented on #239
Was this functionality ever added into the master branch?

[2017-03-01 17:57] lfreneda commented on #239
Same question: Was this functionality ever added into the master branch?

[2017-03-01 18:24] lfreneda commented on #86
@agausachs did you solve it?

[2017-03-03 16:35] karussell opened #328 "Documentation links are broken"
The links here still point to the wiki:

https://github.com/graphhopper/jsprit/blob/master/docs/Classical-Problems-Examples.md

There are a few more that you can find out via
[code]

[2017-03-14 16:32] #326 closed

[2017-03-24 06:55] jie31best opened #329 "bug with BreakScheduling"
it does not handle properly the case when 1) the vehicle has a break; 2) the route end time is after the break time window; and 3) the break cannot be inserted into the route.

see [https://discuss.graphhopper.com/t/vehicle-does-not-take-break-in-a-route-that-ends-later-than-the-break-time-window/1682/](url)

[2017-03-24 17:28] eryzhkov-qs opened #330 "Returns wrong result"
Hi! I use jsprit from JS code and I faced with wrong return results.

I have a vehicle with start and end location. And I have two customers.
A cost matrix is:

[code]
where 0 index is start vehicle location, 1-2 is customers locations and 3 is end vehicle location.
Jsprit returns me next result:

[code]
where job id 1 is 2 index in cost matrix and job id 0 is 1 index in cost matrix.

Why the orde

[2017-03-28 10:13] krypt-n commented on #330
The cost column shows costs of 0 for all stops. Jsprit can't optimize the route if there are no cost dfferences between routes and it won't find a shorter route if it has the same costs as a longer route.

Have you tried setting a cost per time spent driving via `VehicleTypeImpl.Builder.setCostPerTransportTime`? Jsprit should find the shorter route if you do that.

[2017-03-31 10:47] novikk commented on #42
Links to benchmarks seem to be broken, where can I find them?

[2017-03-31 14:34] oblonski commented on #42
The benchmark was outdated and did not reflect the current state anymore. Therefore, I removed them.

[2017-04-11 18:25] oblonski commented on #330
close this for now since obviously no costs are involved

[2017-04-11 18:25] #330 closed

[2017-04-11 18:26] oblonski opened #331 "fast regret does not work with initial routes"

[2017-04-17 15:35] atmikev opened #333 "Add units to docs"
I can't seem to find the units (time, distance, velocities, etc) in the docs. Found some in variable names while looking through various classes, but it would be great if they were prominently displayed wherever they are used. Sorry if they're actually in the docs somewhere and I've just missed them!

[2017-04-18 07:46] oblonski commented on #333
The reason why this does not appear in the docs is that no units are required. You decided which units you want to use. But maybe it is exactly this what is missing in the docs (apart from the fact that the docs are rather inclomple anyway - we definitely need to improve this).

[2017-04-18 13:16] atmikev commented on #333
@oblonski `VehicleTypeImpl.Builder`'s `setMaxVelocity` explicitly calls out using meters per second in the doc and parameter name. Is that not accurate anymore?

[2017-04-27 18:40] oblonski commented on #329
The reason why [this example](https://discuss.graphhopper.com/t/vehicle-does-not-take-break-in-a-route-that-ends-later-than-the-break-time-window/1682.) does not work is that a break is currently only be scheduled if inRoute.getEnd().getArrTime() > aBreak.getTimeWindow().getEnd() (see here). If one changed it to if inRoute.getEnd().getArrTime() > aBreak.getTimeWindow().getStart() then this example

[2017-05-09 16:32] jsroyal opened #334 "Markdown sysex"

[2017-05-09 16:32] #334 closed

[2017-05-09 16:34] jsroyal opened #335 "Markdown syntax error in readme.md"
Title in readme file ##,#,### after that one space required.

[2017-05-11 03:55] arielmoraes opened #337 "Possibility of improvement in the AbstractInsertionCalculator class"
I've done some tests and it seems that when using the getClass().getSimpleName() method of a failed constraint, the CPU usage is somewhat bigger. It could be changed to a static string field in each implemented constraint. Testing with 250+ jobs, 5 vehicles, 1000 iterations, fast regret, 4 threads, compiled fast matrix costs and removing the getSimpleName reduces the execution time from ~18 second

[2017-05-11 08:48] oblonski commented on #337
You are correct. This is unnecessary overhead. However, the current approach has been the least intrusive. If we changed it, we d need to force the implementor of a contraint to implement getName() also. Do you agree? Or better, what would you suggest to implement it?

[2017-05-11 14:50] arielmoraes commented on #337
I think it is feasible to let the developers implement the getName(), thus the actual available constraints probably suffice the majority of use cases.

[2017-05-13 04:04] jsroyal commented on #335
It has been fixed through PR #336.
So it obvious to close the issue.
If somebody find issue about it free to reopen.

[2017-05-13 04:04] #335 closed

[2017-05-14 19:15] jsroyal commented on #328
Hi! @karussell
Is this broken link from the repository?
If I'm correct the please review the PR.

[2017-05-16 12:00] jsroyal commented on #242
Is is still work priority for assinging for services?
I run the priority example and it out have some strange exprience.
So is really work or not.
Please help, I newbie with VRP

[2017-05-16 13:03] oblonski commented on #242
Can you explain what the problem is? What does not work when using priorities?

[2017-05-16 14:19] jsroyal commented on #242
Hi! @oblonski
I running this example to a variable the value of priority but it does not give expected value.
[code]

[2017-05-16 18:00] oblonski commented on #242
Thanks. What are your expectations?

[2017-05-17 03:53] jsroyal commented on #242
Sir @oblonski I was seeing the result in graph stream but the result was strange.
The expectation is like should work according to the priority show the service should be the need to done in this step. -> "1" -> "2" but the output  "2" -> "1".
![image](https://cloud.githubusercontent.com/assets/10773353/26137832/703f6d50-3ae2-11e7-9c45-3ebdf44c35ad.png)

Also, some tweak the in priority it gives m

[2017-05-17 07:08] oblonski commented on #242
Priorties have no impact on the activity sequence at all. If you only had a capacity to serve 2 of your 4 jobs, then the one with higher priority should be prefered. That is the idea.

[2017-05-17 12:06] jsroyal commented on #242
Okay, Sir, I got it the priority.
Sir How do I control the activity sequence.
![image](https://cloud.githubusercontent.com/assets/10773353/26152992/1250aab6-3b27-11e7-9285-23a368abdec3.png)
[code]
Can I get about it?

[2017-05-17 14:34] arielmoraes opened #340 "How can I use a fixed sequence of jobs?"
The API documention shows how to do this using the `in_sequence `and the `in_direct_sequence `modifiers, but how can I do this using the java code? Thank you.

[2017-05-17 14:55] quiqua commented on #340
Those are only available in the Graphhopper RouteOptimization API, but Stefan posted something similar a while back covering different use cases:
http://stackoverflow.com/a/24467964

Maybe this will serve you as an inspiration.

[2017-05-17 14:59] arielmoraes commented on #340
Oh that's perfect! Thank you. Besides, is it better to use a Soft Constraint based on costs or a Hard one for this kind of problem?

[2017-05-23 10:45] layeb25 opened #343 "how to excute an example"
Hi
I have imported the zip  folder of jsprit in ecplise

I want to excute the  MultipleDepotExample , but i have "the selection cannot be launched and there are no recent launches"

please how to do to run this example

best thanks

[2017-05-23 17:58] oblonski commented on #343
Please use [our forum](https://discuss.graphhopper.com/) for such questions.

[2017-05-23 17:58] #343 closed

[2017-05-23 17:59] oblonski commented on #340
I use hard constraints. Please use [the forum](https://discuss.graphhopper.com/) for such questions. Thanks.

[2017-05-23 17:59] #340 closed

[2017-05-23 20:27] balage1551 commented on #337
I'd comment this not really knowing the actual talk about. :-)
The project moves to Java 8, so there is a new feature for extending an interface without breaking the existing code: default implementation. So the default implementation for getName() could cache the getClass().getSimpleName() into a static field and return that.
If the talk was about something else, I'm sorry to interfere.

[2017-05-23 20:39] balage1551 opened #344 "Activities without location"
**Use case:**
Now each activity has to have a location and when fulfilling the activity, the vehicle has to move to it. However, there are real life tasks which don't reqire associated location to be done on. They can be completed _en route_. Such activities are mostly administrative tasks, but breaks could be regarded as such activities as well.

**Proposal:**
It would be useful to have jobs/acti

[2017-05-24 20:54] balage1551 opened #345 "Fixed jobs"
**Use case:**
There are some cases, when some jobs has to be done at a fix time with a well specified vehicle. They can't be moved or put onto an other vehicle, but interacts with the other jobs as any other activities. One reason is when some jobs is beyond the possibility to change, but other jobs could be "put around" it.

**Proposal**
A new flag for jobs is defined marking them fixed. These jo

[2017-05-24 20:59] balage1551 opened #346 "Capacity constraints"
**Use case:**
Sometimes, when a task is inserted, there should some capacity constraints be fullfilled. This is not a capacity requirement, doesn't change the size dimensions of the vehicle, but requires the size dimensions to match some rules. (For example, the value of the first dimension should be between 2 and 4.)

**Proposal**
A new, built in activity level constraint which can be parameteriz

[2017-05-28 04:49] grantm009 opened #347 "New feature request - custom properties"
Hi

Could you please consider adding a custom properties property to pickups/deliveries/vehicles/drivers/locations etc.

IE job.setCustomProperties and job.getCustomProperties
Location.setCustomProperties and Location.getCustomProperties

This could be as simple as a String that a value can be stored in or a list that a list of values could be stored. The string would be easiest to implement and t

[2017-05-29 06:14] balage1551 commented on #347
Almost agree, but the properties should be a Map<String,Object>, instead of Map<String,String> to avoid unnecessary, repeated string parsing and it may offer some typed getters (getAsObject, getAsString, getAsInt, getAsBoolean, etc) which may throw exception in case of incompatible class cast, to keep the main code clean.

Alternatively -- and maybe even more preferably -- I propose to use a singl

[2017-05-29 06:16] jsroyal commented on #347
Thanks, @grantm009 It is good features to add.
I'm also looking for that how to add custom properties.
since 25 days I'm working on it capacitive and time window constraint VRP.

[2017-05-29 06:47] grantm009 commented on #347
Thanks for the support Balage and jsroyal. I agree a map would be the best approach.

kind regards
Grant

[2017-05-29 08:52] oblonski commented on #347
Thanks for suggesting this. I assume it should be straightforward to add such a possibility.
@balage1551 What do you think is the most appropriate approach for this? I understand that there are two reasonable options: Map<String,Object> and

Can you elaborate more on the latter? Or even make a concrete suggestion via PR?

.

[2017-05-29 09:51] balage1551 commented on #347
Well, to be honest, I can't give any strong reasons for the Map implementation. Some minor pro reasons are that the user don't have to create new class and the easier to print it Uniformly.
The values, including the keys are private to the user implementation,  so Jsprit don't and shouldn't  make any use of it.
The single object approach has some nice benefits :
* more flexible: could contain any

[2017-05-29 10:04] grantm009 commented on #347
Could I plead the case for Location  and other objects to also have a user data field.
This is important (to me at least) for classifying locations. For example a hard constraint preventing a pickup from a location mid route if the location type is "depot" but allowing it if the location is type "customer".

I think this capability, if deployed broadly across objects, really enhances the constrain

[2017-05-29 20:58] balage1551 commented on #347
Well, your request is right. If we add this new feature (which is as simple as to add a new field to the classes and to their builders, at least in most of the cases), we should do it as widly as we can.

I propose to add the userData field to
* Job
* Activity (in new version only)
* Vehicle
* Vehicle type
* Location (as a fluent api setter, because it has no builder, only several factory methods)

[2017-05-30 14:07] oblonski commented on #347
I am still not 100 percent sure whether we really need this. Cant the user just enhance e.g. a vehicle with a custom wrapper? Where do you see the advantage of user defined data field over a wrapper? I see one pro: it is slightly less effort.

[2017-05-30 14:11] oblonski commented on #346
Thanks for this proposal. Actually, I do not understand it entirely. Can you give me a real life example where this is required? Thanks.

[2017-05-30 14:28] balage1551 commented on #347
I have several pros: :-P

It is some kind of information composition. And as Gamma stated (design patterns): _prefer composition over inheritence_. ;-) With inheritence, when the user has to deal with different set of user data for different jobs/vehicles, he would either make the composition himself or would have to create several subclasses.

Another inconvience the extended version would cause

[2017-05-30 14:33] oblonski commented on #347
👍 Convinced :). Thanks a lot.

[2017-05-30 14:34] balage1551 commented on #346
Example #1: To leave the depot/warehouse, first you have to pick up at least X shipments.
Example #2: To return to the depo, first you have to serve all shipments in your cargo.
Example #3: You can't get to a location when your cargo is heavier than Y. (Road weight restrictions.)

All the situations when a job requires some constraint to match on cargo (current capacity data), but doesn't want to

[2017-05-30 14:35] balage1551 commented on #347
Should I do it? I can do it tomorrow evening.

[2017-05-30 14:36] oblonski commented on #347
Yes, this would be great.

[2017-05-30 15:08] oblonski commented on #344
I like the idea, however, I propose to add this to the upcoming release only (to save implementation time). Thanks @balage1551 for this suggestion.

[2017-05-30 21:09] grantm009 commented on #347
Yes indeed it would be really great.
Thanks for the fast consideration.
You guys rock.

[2017-05-30 21:12] grantm009 commented on #347
You probably need someone to help test it.
Pick me !!! :)

[2017-06-01 10:59] grantm009 commented on #347
Hi @balage1551
Im not a GitHub man. What linux command would I used to pull down your committed code ?
regards
Grant

[2017-06-01 11:13] jsroyal commented on #347
@grantm009 If you have cloned this repo then just used `git pull origin master`
Let me know if other cases.

[2017-06-02 15:36] tdeenes opened #349 "Multiple time windows are not considered in initial routes"
There is an undocumented limitation of using initial routes: multiple time windows of a job are silently dropped and only the first window is retained (as earliest and latest attributes). Minimal reproducible example:
[code]

[2017-06-03 17:33] jsroyal commented on #292
@oblonski
Some of the issues still open even after the merged. Please closed this issue.

[2017-06-03 17:52] jsroyal commented on #346
Yes! that would good.

[2017-06-10 09:06] NaglfarZZ opened #352 "How do i use the SoftConstraint?"
Hello,
How do i use the SoftConstraint? And How do i make sure the SoftConstraint work?

[2017-06-10 18:38] oblonski commented on #352
Please use the forum (discuss.graphhopper.com) for these questions.

[2017-06-10 18:38] #352 closed

[2017-06-10 18:39] oblonski commented on #347
see latest release: https://github.com/graphhopper/jsprit/blob/master/WHATS_NEW.md

[2017-06-10 18:39] #347 closed

[2017-06-11 02:51] NaglfarZZ commented on #352
sorry.

2017-06-11 2:38 GMT+08:00 Stefan Schröder <notifications@github.com>:

[2017-06-12 07:27] keymo13 opened #353 "Time/Distance matrix calculation and How to take traffic into consideration?"
Hello,

I have checked other threads, and couldn't find a direct answer to this question, in the time/distance matrix calculated, can we:

1) provide a Time/Distance Matrix calculated by a map provider such as Google Maps or Here Maps ?
2) how to incorporate traffic information (mainly reduced speed limits) with the Time/Distance matrix ?

An approach that occurs on mind is to create 3 Time/Distan

[2017-06-12 07:54] oblonski commented on #353
Interessting! Thanks. Would you mind to post it in our forum: discuss.graphhopper.com

[2017-06-12 07:54] #353 closed

[2017-06-12 08:12] keymo13 commented on #353
@oblonski sure, I'll post this on the discussion form.

[2017-06-12 19:28] balage1551 opened #354 "Bug: Extended problem with initial solution"
This problem comes from the forum [entry](https://discuss.graphhopper.com/t/assigning-a-job-to-a-specific-vehicle-only-by-applying-hard-constraint/2041/6?u=balage1551).

There were a run with 2 jobs. The best solution is stored.
Then there is a new problem where

- the vehicles come from the original problem
- the initial solution is the best solution of the original problem
- the jobs come from t

[2017-06-12 19:28] balage1551 commented on #354
I'm checking it.

[2017-06-12 19:30] balage1551 commented on #354
Some positive test cases:

1. When the new job can be inserted into the original route, it is inserted.
2. When no initial solution set, it works.

[2017-06-12 20:00] balage1551 commented on #354
I've altered the code of `com.graphhopper.jsprit.core.algorithm.VehicleRoutingAlgorithm.verify(VehicleRoutingProblemSolution)`:

    private void verify(VehicleRoutingProblemSolution solution) {
        Set<Job> allJobs = new HashSet<Job>(problem.getJobs().values());
        allJobs.removeAll(solution.getUnassignedJobs());
        for (VehicleRoute route : solution.getRoutes()) {
            allJo

[2017-06-12 20:20] oblonski commented on #354
I just flew over the code (without actually running it) and realized that bestSolution does not contain the new job. Therefore bestSolution might be evaluated significantly better than any new solution containing an additional job. Therefore, to make it comparable, you need to add this new service as unassigned job bestSolution and reevaluate bestSolution again.

[2017-06-12 20:22] balage1551 commented on #354
I've found the first step: adding as unassigned. That's the change I've made above.

[2017-06-12 20:23] balage1551 commented on #354
The main problem, that it seems the algorithm will not use any vehicles unused in the initial solution.

[2017-06-12 20:34] balage1551 commented on #354
@oblonski Oh, I understand now what you said, Stefan.
The initial solution as the best solution brings its original cost as well. I only need to recalculate cost in verify after the unassigned  added. :-) I'll figure it out how to do. :-D

[2017-06-14 17:23] husnikadam opened #356 "Can't build project"
Whole project can't be build (specific project - jsprit-instances) using NetBeans maven build.
Error:

I'm sure I did everything 100% correctly - I've just downloaded git repository from master branch, opened using netbeans and builded.

[2017-06-17 15:48] oblonski commented on #354
@balage1551 Can we close this?

[2017-06-17 15:50] #292 closed

[2017-06-17 15:52] oblonski commented on #337
👍 Thanks @balage1551. Thus, I am adding it to our v2 branch.

[2017-06-17 16:08] oblonski commented on #337
Todo:
- [ ] extend HardXXXConstraint interface with default getName() method
- [ ] implement .getName() in existing core constraints
- [ ] change to .getName() method in reason tracker

[2017-06-17 20:29] balage1551 commented on #354
Yes, with notion about some tasks still to do: remove jobs from route.

[2017-06-17 20:29] #354 closed

[2017-06-22 08:54] calfzhou opened #357 "Cannot set vehicle's index"
I see that the [MaxDistanceConstraint](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/constraint/MaxDistanceConstraint.java#L58) uses vehicle.getIndex(), but there is no public setIndex() or similar method in VehicleImpl class.

Its parent class `AbstractVehicle` has setIndex() method but is protected, cannot used by users.

VehicleI

[2017-06-22 08:59] oblonski commented on #357
This is intended since the index is assigned internally.

[2017-06-22 09:23] oblonski commented on #357
Why do you want to set the index? It has an index. Use it as it is.

[2017-06-22 09:50] calfzhou commented on #357
I'm trying to use MaxDistanceConstraint, and I have to provide a <vehicle, max distance> mapping. Don't know how to build it, because when adding vehicles to problem, there is no index for each vehicle.

[2017-06-22 09:56] oblonski commented on #357
Indices are assigned when building the vehicle routing problem. When using [MaxDistanceContraint](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/constraint/MaxDistanceConstraint.java) you only need to provide a mapping from vehicle to maxDistance, vehicle1 --> 1000. Then to memorize it in an array the vehicle to index mapping is done

[2017-06-22 10:10] calfzhou commented on #357
Thanks @oblonski . Because the max distance is vehicle type related in my case, i was trying to let vehicles of the same type use the same index, to reduce the size of <vehicle, max distance> mapping.

[2017-06-22 10:17] oblonski commented on #357
I do not know how many vehicles you have, but I assume it does not make any difference. Even with many vehicles of the same type, the size of the map as well as the time it takes to index vehicle --> maxDistance is negligible.

[2017-06-22 10:18] oblonski commented on #357
can we close here?

[2017-06-22 10:24] calfzhou commented on #357
ok, thanks!

[2017-06-22 13:15] calfzhou commented on #357
@oblonski , sorry but I have one more question: when using MaxDistanceConstraint, I need create a state id, but do I need write my own state updater for this state? I did't see where update its data.

The following is a piece of code I find in jsprit test code, it defines a state id named "max-distance", but no state updater is added.

[code]

[2017-06-22 13:53] calfzhou commented on #357
Now i meet null pointer exception at [this line](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/constraint/MaxDistanceConstraint.java#L79), where sometimes `currentDistance` is null.

[2017-06-23 11:03] calfzhou opened #358 "Declare `getUserData()` in interface Job"
The `userData` from v1.7.2 is a pretty useful feature, thanks for that!

I found that `getUserData()` is not declared in interface Job, but only abstract class AbstractJob. When using this data, I have to cast a job instance to AbstractJob first. Could you please declare this method in the interface? Vehicle and VehicleType interface both declared this method.

[2017-06-23 11:08] oblonski commented on #358
Please read the comments from here: https://github.com/graphhopper/jsprit/pull/348

[2017-06-23 11:08] #358 closed

[2017-06-23 11:09] oblonski commented on #358
Thus, it will be available in jsprit v2.0

[2017-06-23 11:16] ram4ugit opened #359 "How to integrate this code with google map?"
How to integrate this code with google map?

[2017-06-23 12:07] oblonski commented on #359
Please ask these questions here: https://discuss.graphhopper.com/c/jsprit

[2017-06-23 12:07] #359 closed

[2017-06-24 13:36] calfzhou commented on #290
+1 for adding getDistance to VehicleRoutingTransportCosts.

[2017-06-25 03:16] calfzhou commented on #357
fixed by using `VehicleDependentTraveledDistance` state updater.

[2017-06-25 03:16] #357 closed

[2017-06-27 11:45] jsroyal commented on #356
Hey! @husnikadam Sorry I did not get you what is the problem with the building can you please update you above commit What is exact error cause and If possible put screen shot.
I think you have been all doc. If miss then please [visit](https://github.com/graphhopper/jsprit/blob/master/docs/Getting-Started.md)
And there is also the [forum](https://discuss.graphhopper.com/) to get help.

[2017-07-04 06:33] #356 closed

[2017-07-09 18:19] mourya09 commented on #331
Dear friends any update for the same.

[2017-07-10 14:19] jsroyal commented on #328
It has been solved .Need to close this issue
#350

[2017-07-13 09:03] jie31best commented on #329
this might not work because, if you schedule a break in an empty route first, the break location will be fixed at the depot location when you evaluate the insertion of the next job, which could be problematic.

In general, in the current job (service/shipment) insertion cost calculators, when the current route contains a break, its property that it can be at any location is ignored. This could lea

[2017-07-18 14:14] Cartha opened #363 "Transport lead time per Tour"
I have a question concerning the transport lead time per tour.

Where can I define the restriction, that a driver could only execute the tour between e.g. 6 and 12 am?

Otherwise, the tours are overly long!

[2017-07-18 14:17] oblonski commented on #363
Please ask such questions here: https://discuss.graphhopper.com/c/jsprit

[2017-07-18 14:17] #363 closed

[2017-07-27 08:54] elloza opened #365 "Bike Sharing Rebalancing Problem as VRP with pickups and deliveries"
Hello everyone!

First of all thank you for your time :)

I was wondering if it is possible to implement the Bike Sharing Rebalancing problem as a kind of VRP problem.

The idea of the problem is the following:

Multiple customers who have shipments and deliveries (The bike stations which need be rebalanced taking or putting bikes).

The trucks have a fixed capacity (e.g 10 bikes).

In this case,

[2017-08-07 12:10] oblonski opened #367 "jsprit v2: JobInsertionContext needs to be revised"
Currently, JobInsertionContext assumes that a job can have two activities at max (see relatedActivityContext). However, in v2 a job can have an arbitrary number of activities.

[2017-08-07 12:11] oblonski commented on #365
Thanks for this. Please ask these kind of questions at discuss.graphhopper.com

[2017-08-07 12:11] #365 closed

[2017-08-07 12:20] oblonski opened #368 "jsprit v2: GeneralJobInsertionCalculator does not know failed constraints yet"
thus, UnassignedReasonTracker fails to track reasons for unassigned jobs

[2017-08-07 12:25] oblonski opened #369 "jsprit v2: MaxTimeInVehicle does not work"
since GeneralJobInsertionCalculator does not set the required info in JobInsertionContext (related to #367)

[2017-08-07 12:29] oblonski opened #370 "jsprit v2: legacy shipment/service should work with new VehicleRoute"
but does not work

[2017-08-28 16:50] icey502 opened #375 "VRP question"
Hi Guys,

Sorry to use this forum for a question, but I am having some challenges getting started with jsprit and I was hoping for some pointers in the right direction.  I posted the question on stackoverflow but here is the gist:

-How do I express lat-lons in terms of JSprit inputs? It seems like the examples use points in two-dimensional space. It appears that I need to use VehicleRoutingTransp

[2017-08-28 17:43] HeinrichFilter commented on #375
Usually the project owners request that questions like this be posted to https://discuss.graphhopper.com/

In the meantime I've added some pointers on your SO question.

[2017-08-28 19:28] icey502 commented on #375
Thank you for the pointer and the information.

[2017-08-28 19:28] #375 closed

[2017-09-22 23:34] josephleehunsaker commented on #211
We need multiple breaks per vehicle as well.

If it is difficult to program for multiple breaks, would it be easier if you could use a Service with no Location? Does that make sense? @oblonski

[2017-09-26 04:55] kschingiz opened #377 "Transport time is not considered in solution"
I have started topic about this issue here: [discuss.graphhopper.com/](https://discuss.graphhopper.com/t/why-transport-time-is-not-considered-in-solution/2448)
Issue is that if I use VehicleRoutingTransportCostsMatrix for VRP then transport time is ok, but if use ManhattanCosts or EuclideanCosts or something else, then transport time is not considered in solution.
Usage of [ManhattanCosts](https:/

[2017-09-26 04:58] kschingiz commented on #377
Full code with 2 cases is here: [pastebin](https://pastebin.com/6y7AaCUM)

I am sorry for the external links..

[2017-09-26 05:54] oblonski commented on #377
Thanks for reporting @kschingiz. Would you mind to setup a simple unit test that reproduces this? Just setup ManhattanCosts and your expectation about what ManhattanCosts should return much like this:

`assertEqual(10, manhattanCosts.getTransportTime(..))`

Thanks.

[2017-09-26 07:00] kschingiz commented on #377
@oblonski manhattanCosts.getTransportTime(..) returns me correct values, as you see in previous code listings, the problem occurs when I use these costs. I will setup unit test as soon as possible.

[2017-09-28 18:55] oblonski commented on #377
Is this still an issue?

[2017-09-28 19:42] oblonski opened #378 "making vehicles and jobs imutable again"
@michalmac suggests "to create copies for internal use just before optimisation starts (it is not much of an overhead), while at the end, the original objects will be referred to in the solution produced

Optional step: I would even consider getting rid of HasIndex from Job/Vehicle, and use JobWithIndex/VehicleWithIndex internally, both implementing HasIndex."

[2017-09-28 19:43] oblonski commented on #378
I like this idea but still we need to find out the implications for constraints.

[2017-09-28 20:57] michalmac commented on #378
These "...WithIndex" objects could be just simple wrappers around the original objects...

[2017-10-13 09:21] kschingiz opened #379 "Possible bug in maxShare and minShare"
Don't know exactly is this a bug, but here:
https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/algorithm/box/Jsprit.java#L220
in lines 220 and 221 you define maxShare_ and minShare_ integers, but they are equal:
[code]
but in 212 and 213 you are declaring maxShare and minShare these way:
[code]
The question is: should minShare_ and maxShare_ be

[2017-10-13 17:09] peterdn1 commented on #211
`could use a Service with no Location`
I think this should work when optimizing for single vehicle.  For each break create a service that reflects the time windows in which a break can occur.   When the distance matrix is produced add 0 travel times for each break to each non break location.

Let Jsprit optimize this, then remove the no location breaks from the routing request, after the routing r

[2017-10-13 21:46] mikeppp commented on #211
As per the comment above, we are doing the following and it seems to be working:

a. Create a skill for each vehicle called "break"
b. Each break would be a service with an empty location (0,0) and a required skill of break
c. In the matrix, i.e. whatever extends AbstractForwardVehicleRoutingTransportCosts implements TransportDistance; just return 0 in getDistance, getTransportCost, and getTranspo

[2017-10-13 21:51] PGWelch commented on #211
Doesn't this mean you can teleport between locations by going via a break? I suspect this would distort routes in the optimiser.

[2017-10-13 22:18] mikeppp commented on #211
Yes that is correct actually. However until jsprit supports more than one break its the best solution...

[2017-10-13 22:56] mikeppp commented on #211
Also in our case distances are fairly all close together and time windows are not that long.
our HARD requirements are:
a. floating break am;
b. fixed lunch;
c. floating pm break

If anyone has a better solution please ket me know!

[2017-10-13 23:01] peterdn1 commented on #211
PGWelch -agree.

What if costing function added an additional argument that was the previous point.
So 3 points
A- service
B- break
C -service
The time from the A to B would be 0
The time from B to C would  time from A to C

I think this would address your observation of teleportation using breaks, but unfortunately would involve changing core.  Any other suggestions?

[2017-10-23 19:47] oblonski opened #380 "add Delivery.Builder.addAllTimeWindows helper method"

[2017-10-23 19:49] oblonski commented on #379
Thanks @kschingiz. It is no bug. min and max is just equal in this configuration here.

[2017-10-23 19:49] #379 closed

[2017-10-23 19:57] #380 closed

[2017-10-23 20:18] michalmac opened #381 "convenience methods in Shipment.Builder"
There are already methods like Service.Builder.addAllRequiredSkills() and addAllSizeDimensions()
To ensure more symmetry, would be good to have them in Shipment.Builder as well.
Related to #380

[2017-10-23 20:22] oblonski commented on #381
just added https://github.com/graphhopper/jsprit/commit/d573146e35587fdb6bd849ab1a74953bfae157e8 :D

[2017-10-23 20:22] #381 closed

[2017-10-25 06:09] kschingiz commented on #377
@oblonski I am sorry to be late. We can close, I have solved this. My time and speed units were not consistent in project.

[2017-10-25 06:58] oblonski commented on #377
Ok. Super.

[2017-10-25 06:58] #377 closed

[2017-10-27 04:13] Sunanndan opened #385 "jsprit in Employee Transportation"
Hi,

I am using jsprit for employee transportation auto routing.
I am passing no. of vehicles and capacity and employee list to drop or pick. Jsprit is creating multiple auto routes according to capacity.
My Drop auto route is according to what we need but getting problem in pickup.
My start location is X which is mandatory. I am not specifying end location as it is not mandatory. I tried using de

[2017-10-27 10:42] pinkman92 commented on #233
Hello Has this feature been put up in the current version of Jsprit ?

[2017-10-27 13:21] oblonski commented on #233
No, it has not been merge into the master.

[2017-10-27 13:22] oblonski commented on #385
would you mind to discuss this here: discuss.graphhopper.com. Thanks.

[2017-10-27 13:22] #385 closed

[2017-10-27 16:47] K-Leon commented on #187
I would love seeing this - anyone has a temporary workaround?

[2017-11-08 18:41] oblonski commented on #261
https://github.com/graphhopper/jsprit/commit/e8fe642e16737beeeb03d029ed2fa095d4bdec4c

[2017-11-09 01:20] CalebRoyer commented on #211
This is huge for us. +1

If you only needed to route for one vehicle, would it be possible to string along "fictional" vehicles to pick up where the previous vehicle left off, as a temporary hack?

[2017-11-13 14:08] oblonski opened #391 "reason tracker does not return most likely reason"
related to https://github.com/graphhopper/jsprit/pull/390/files. Thanks @Jullil for detecting and fixing.

[2017-11-13 14:26] oblonski commented on #391
fix with https://github.com/graphhopper/jsprit/pull/390

[2017-11-13 14:26] #391 closed

[2017-11-13 18:06] lukes commented on #345
We got around this issue by giving those jobs time windows of 1 minute around their fixed time, and assigning them a required skill of `__vehicle_<id>__` (where `<id>` is the id of the vehicle it must be allocated to), and then give that vehicle the matching skill. That means that jsprit ought to allocate that job only to that vehicle, and within that specific window of time.

[2017-11-15 03:29] phitruongdn opened #393 "PNG output from examples"
I just ran the from
https://github.com/graphhopper/jsprit/blob/master/jsprit-examples/src/main/java/com/graphhopper/jsprit/examples/SimpleExample.java
I got the .png file: https://imgur.com/a/qQVpW.
I want to confirm the legend of the file is correct or not. Because it's different from the file on github repo.

Edit: Close due to incorrect info

[2017-11-16 08:25] phitruongdn opened #394 "Issue on setCostPerTransportTime"
i ran the example "SingleExample.java" add build the vehicle type with `CostPerDistance(0)` default is 1.0 and `CostPerTransportTime(3)` . The results for costs are 0.
[code]
[code]

[2017-11-17 07:23] #393 closed

[2017-11-23 17:21] theoneandonlywoj opened #395 "mvn clean install issue"
I follow instructions given in:
[https://github.com/graphhopper/jsprit/blob/master/docs/Getting-Started.md](url)

I have Java 1.8, Maven 3.5.2

Yet, I get following error:
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test (default-test) on project jsprit-instances:
Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test fai

[2017-12-05 09:04] #394 closed

[2017-12-05 10:07] NaglfarZZ opened #397 "Fast Regret error"
fleetmanager with 2 vehicles which one is finite ,when i used this insertion strategy, the finite vehicle was locked.

i found this:

           static ScoredJob getBest(. . .) {
               ScoredJob bestScoredJob = null;
               for(Job j : unassignedJobList){
                   VehicleRoute bestRoute = null;
                   InsertionData best = null;
                   InsertionDat

[2017-12-06 03:32] PhenixY opened #398 "Fast Regret strategy occurs vehicle lock problem"
When I use fast regret strategy, an error occurs. "All vehicles were locked  700" . (700 is a kind of vehicle id).
Everything remain the same, only change the the parameter of fast regret to false, i.e. I use the regret insertion strategy instead of fast regret insertion strategy, it will be OK.
Into the problem, I find that count of the 700 vehicle id is 5, another type of vehicle 500 is infinite

[2017-12-13 13:27] HenrikBette opened #402 "Parallelization in the SchrimpfInitialThresholdGenerator"
Hey,

I was wondering, if there is a reason that i cannot see, why the ThresholdGenerator never runs on multiple cores. Should it not be easy to set the number of threads accordingly to the one specified for the main algorithm?
I have a big setup and using the regret insertion alongside Schrimpf acceptance yields the best results, however 20 steps to generate the Threshold use an extraordinary lar

[2017-12-21 03:35] #397 closed

[2017-12-22 09:23] phitruongdn opened #403 "IterationWithoutImprovementTermination didn't work with setMaxInteration()? or TimeTermination?"
[code]
I'm trying to set some criteria some PrematureTermination on the algorithm. As running some instances, the TimeTermination is work as expected, but the IterationWithoutImprovement is not working on some of my instances.
![200i_5s_5jobs-2vehicles-2depot json](https://user-images.githubusercontent.com/19373324/34292642-a91379d0-e73c-11e7-92bb-0bf595106cae.png)
![200i_5s_6jobs-1vehicle-1depot

[2017-12-27 13:20] rajatagarwal2 opened #404 "Regarding cost of the jsprit routes"
Hi,
I am confused about the cost that is returned in the jsprit output.
I need to know that whether it is in meters/kilometers/seconds/hours/minutes?

[2018-01-02 06:41] #398 closed

[2018-01-31 09:58] #403 closed

[2018-02-14 07:44] oblonski opened #411 "duplicate vehicle type ids are allowed"
Currently jsprit does not forbid duplicate vehicle type id, thus one can define multiple vehicle types with the same id but with different properties such as cost parameters, like I did in the example provided at the end of this post.

In the example, the fleet manager will always use v2 because it thinks v1 and v2 are with the same vehicle type, and it leads to non-optimal solution.

vrp.getTypes

[2018-02-14 07:45] oblonski commented on #411
see https://discuss.graphhopper.com/t/bug-with-duplicate-vehicle-type-id/2819

[2018-02-23 08:05] oblonski commented on #404
You determine the measurement of costs by setting the parameters of [VehicleType](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/vehicle/VehicleType.java#L55) ([here](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/vehicle/VehicleTypeImpl.java#L169-L242)).

[2018-02-23 08:05] #404 closed

[2018-02-23 08:57] oblonski commented on #411
@jie31best This should fix this issue. Would you mind to check it with your example also? Thanks a lot.

[2018-02-23 10:40] jie31best commented on #411
@oblonski it works good on my example. Thanks a lot. 👍

[2018-02-23 10:41] oblonski commented on #411
Perfect. Thank YOU 👍

[2018-02-23 10:41] #411 closed

[2018-02-23 17:32] LCenteleghe commented on #211
Has anyone found a solution for this?

[2018-03-27 00:18] nzpattewell opened #414 "Speed of Travel - Acceleration & deceleration"
Any chance we can add acceleration & deceleration between 2 points? to a set maximum speed?

[2018-03-28 13:57] cfoch opened #415 "Is jsprit extensible so I can add my own algorithms?"
Hello, I want to implement some algorithms from some papers. But jsprit already has much stuff well-done for example the definition of vehicle types, instances of it, services, reports, etc. To add my own algorithm do I have to modify jsprit source code or is jsprit extensible so I don't need to even touch jsprit source code?

[2018-03-28 18:55] oblonski commented on #414
If I understand you correctly, it is already possible by manipulation your own travel time matrix. Here, you can accelerate the vehicle on a specific relation.
For further questions, please use discuss.graphhopper.com.
Thanks.

[2018-03-28 18:55] #414 closed

[2018-03-28 19:03] oblonski commented on #415
This should be possible. You can define the VehicleRoutingProblem with jsprit and use it in your own algorithms. If your algorithm returns jsprit's VehicleRoutingProblemSolution, you should also be able to use the analysis tools. These classes alone do not need any specific algorithm, they even do not know that there will be an algorithm using them at all.
I can offer you to help you integrating j

[2018-03-28 19:05] oblonski commented on #415
There might be specific tools such as the GraphStreamRecorder/Viewer listing to the process of the algorithm. To use these tools you need to offer them to listen to your algorithms too. This might become a bit tricky, but it is definitely not unsolvable.

[2018-03-28 19:07] oblonski commented on #415
Which algorithms do you plan to implement? I might be interested in supporting this ;).

[2018-03-31 00:52] Guo-astro commented on #187
Any progress on this issue?

[2018-04-01 03:33] jackzhenguo opened #417 "SolutionPlotter.plotVrpAsPNG where?"
where is SolutionPlotter.plotVrpAsPNG ?

[2018-04-04 12:54] oblonski commented on #417
Just use [Plotter.plot(...)](https://github.com/graphhopper/jsprit/blob/master/jsprit-analysis/src/main/java/com/graphhopper/jsprit/analysis/toolbox/Plotter.java#L288)

[2018-04-04 12:54] #417 closed

[2018-04-05 20:42] oblonski commented on #187
No, unfortunately not.

[2018-04-09 09:07] fowuyu commented on #415
Hello,I also want to implement some algorithms from some papers,like genetic algorithm（GA）,Tabu Search，Simulate Anneal and so on.I hope  read a example code to learn how to implement my own algorithm. Hope to get your reply！Thank you!

[2018-04-09 09:08] oblonski commented on #415
Cool! As I wrote above I would be happy to support the integration of alternative algorithms.

[2018-04-09 09:08] oblonski commented on #415
@fowuyu Just let me know how I can help you get started.

[2018-04-09 09:09] fowuyu opened #418 "How to implement my own algorithm in jsprit?"
Hello,I want to implement some algorithms from some papers,like genetic algorithm（GA）,Tabu Search，Simulate Anneal and so on.I hope read a example source code to learn how to implement my own algorithm in jsprit. Hope to get your reply！Thank you!

[2018-04-09 09:14] fowuyu commented on #415
Thanks for your reply!I just want to read a demo source code that implement a self-defined algorithm!

[2018-04-09 09:16] fowuyu commented on #415
I am research the dynamic pickup and delivery problem with time window and LIFO  restrict.So I need to compare some papers' algorithm.

[2018-04-09 09:24] fowuyu commented on #415
@oblonski  Now , I don't know how to do it ,I just read a little source code of jsprit framework.

[2018-04-09 09:25] #418 closed

[2018-04-09 12:38] cfoch commented on #415
Hello, basically at least un the short term I am interested on implementing simulated annealing.

[2018-04-11 19:45] oblonski commented on #415
@cfoch Sounds good. Let me know if you need help integrating jsprit.

[2018-04-23 03:30] jiming opened #420 "[bug] javadoc of class Break is wrong"
Javadoc of class `Break` is the javadoc of class `Pickup`.

[code]

[2018-04-23 09:40] #420 closed

[2018-04-23 09:41] oblonski commented on #420
@jiming Thanks for your hint!

[2018-04-24 06:48] jiming opened #421 "How can I define a Job(Location) as optional"
Hello,

In my routing, there have some `optional locations` which are only used for connect `essential locations`. Which means vehicle do not have to pass the `optional locations`.

How shall I define the rule for the optional locations?

Thanks a lot for any help!

Jiming

[2018-05-09 09:43] meloBerati opened #422 "mvn clean install not completed with this error,"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-compile) on project jsprit-core: Compilation failure -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-compile) on project jsprit-core: Compilation failure
    at org.apache.maven.lifecycl

[2018-05-25 09:46] WaliedA opened #423 "Real Time VRP, Fixed route, need to identify best vehicles type and number of trips"
These routes are predefined and from several pick up point (inbound) and drop off points (outbound), what we are aiming to do is the following:

Identify how many seats/bus types to run each trip.
What trips to be linked at point A based on the proximity of the time intervals between drop/pickup at A
Total number of KM per day, how many no of drivers needed per day as this is 24h operation and max

[2018-06-04 11:55] KumarAshish155 opened #424 "Vehicle Utilization Problem When Planning Jobs At Same Location"
If we have added two vehicles to fleet information having below settings :

1. Weight/volume : 30 and 20 respectively
2. Maximum weight of a order to be carried by a vehicle is 15 and 10 respectively

Now if I have 3 orders which need to be planned having weights 14,15 and 05 respectively and same or nearly same location,  it will include only one vehicle having capacity 30 and will auto-route onl

[2018-06-04 12:11] quiqua commented on #424
You should probably discuss this at https://discuss.graphhopper.com/c/jsprit

Also it sounds like you need to have a look at your objective function.

[2018-07-17 01:06] grantm009 opened #426 "UnassignedJobReasonTracker gives wrong reason"
Hi folks

Attn: @oblonski

Im finding that sometimes the reason tracker is giving the wrong reason for the unassigned job.
This small snippet (below) shows that I am iterating over the unassigned jobs and using the getMostLikelyReasonCode and getMostLikelyReason methods to get the reasons. However I am finding that the reason does not match the actual cause.

An example is a job that has a skill r

[2018-07-22 11:59] ifle commented on #329
Unfortunately, I also encountering break bug too? Are there any plans to fix it?

[2018-08-22 23:05] lukes commented on #211
+1 We would like to be able to define multiple breaks for a vehicle. This fulfils New Zealand employment law, where a 9-hour shift legally needs to have two 15 minute breaks and one 30 minute break.

[2018-09-13 18:36] oblonski opened #431 "insert only a proportion of unassigned jobs"
Currently, the insertion heuristic tries to assign the entire set of unassigned jobs. This significantly impacts performance if there are many unassigned jobs. Therefore, the algorithm is way faster if only a proportion will be inserted, and it might have no impact on overall solution quality.

[2018-09-13 20:20] LCenteleghe commented on #431
Trying to insert all of the unassigned jobs also makes it not evaluate solutions that would be better without some jobs. I myself run into this problem, and my solution was to create a Hard Constraint that randomly (with a 10% chance) blocks some insertions, thus the algorithm would also try to consider solutions that do not include some of the jobs. So I believe that this insertion of only a prop

[2018-09-17 12:11] oblonski commented on #431
When using box.Jsprit one can configure the algorithm like this:

[code]

This means that in each iteration at least 10 previously unassigned jobs are reinserted (at least the algo tries to reinsert it) and, at max,

`previousSolution.getUnassignedJobs().size() * 0.05`

For example, if there 400 jobs and 50 jobs are still unassigned in iteration i, then 20 out of these 50 jobs are randomly chosen

[2018-09-17 12:11] #431 closed

[2018-09-17 12:29] #424 closed

[2018-09-17 12:31] oblonski commented on #423
Please ask questions, and use discuss.graphhopper.com for them.

[2018-09-17 12:31] #423 closed

[2018-09-17 12:32] oblonski commented on #422
@meloBerati Could you solve it?

[2018-09-17 12:33] oblonski commented on #421
Please use discuss.graphhopper.com for questions.

[2018-09-17 12:33] #421 closed

[2018-09-17 12:33] #415 closed

[2018-09-17 12:34] oblonski commented on #395
@arcyfelix Could you manage to install jsprit?

[2018-09-17 18:55] arcyfelix commented on #395
@oblonski sadly, not.

[2018-09-17 18:59] oblonski commented on #395
Can you build jsprit-core yourself?

[2018-09-25 11:10] oblonski opened #433 "add capacity patterns"
Currently, it is easily possible to account for multiple capacity dimensions, i.e. one can specify static limits. For example, a vehicle can load 10 items of type A, 15 of type B and 2 of type C -> capacity -> [10,15,2].
However, one cannot specify dynamic limits such as it can load either 10A + 0B + 0C or 0A + 10B + 2C etc.. If the user fully specifies the pareto set, jsprit should account for th

[2018-09-25 11:27] oblonski opened #434 "add capacity bins"
Assume there is a motorbike that can load 10 items of A in bags of both sides of the motorbike, the only way to model this is capacity -> [20] which can yield invalid results. For example, if there is a shipment with size -> [15], it can be loaded onto the motorbike, even if it is not allowed. Therefore, one should be able to model something like this: capacity -> [[10],[10]].

[2018-09-25 11:35] oblonski opened #435 "allow multiple depot-bounded round tours with one vehicle"
If the vehicle routing problem is modeled with services, vehicles can only conduct a single round tour. If one requires multipe round tours, one needs to model it with shipments. Latter, however, requires an a priori assignment of the depot. Furthermore, using shipments is much more expensive in terms of computation time. Therefore, it would be helpful, if vehicles are allowed to make multiple rou

[2018-10-21 17:59] briandilley opened #436 "Force job to be included in route"
In my scenario I've got a single vehicle with a capacity of 4, i've got two jobs that combined still remain under the capacity.  However, the route planner is not accepting a job.  This seems to only happen in unit tests with random lat/lon data but i'm worried about it happening in the field.  I need it to accept the job and make it part of the route no matter what.

[2018-10-21 18:00] briandilley opened #437 "Best way to handle dispatching"
I've got a live system with vehicles.  Throughout the day jobs appear that need to be serviced ASAP.  I need to determine which of my X vehicles is the best vehicle to assign this new job to.  Currently I'm just simulating adding the job to every existing vehicle's route and then choosing the route with the lowest cost - does this make sense?

[2018-10-22 16:05] briandilley commented on #436
This was a bug in my own code. I  accidentally was filling the vehicles to their capacity.  The rejector listener thing was super helpful in finding this problem btw.

[2018-10-22 16:05] #436 closed

[2018-10-24 09:59] rahul-algorithmgeek commented on #424
This issue also occurred for my scenario. Happens when we use different **Skills** and all the load are at **same location**.  I can explain more if needed.

[2018-10-25 15:10] briandilley commented on #437
bump

[2018-10-26 05:05] yerzhik opened #438 "Get current items selected"
Hi,

I need to implement the vehicle routing problem but with additional constraint which is the bin packing.
So every time the algorithm checks if the next item is OK to add to current list of selected items, it should retrieve currently selected items and try to 3D bin pack them plus the new item. If they fit then it should say OK. Can I somehow get such information about currently selected list

[2018-10-26 06:06] yerzhik commented on #437
dead repository?

[2018-10-26 07:33] quiqua commented on #437
As this is not an issue with the software / bug / ... and more a discussion on how to best setup your algorithm, you should head over to https://discuss.graphhopper.com/c/jsprit and post your question there and/or have a look at the examples as well https://github.com/graphhopper/jsprit/tree/master/jsprit-examples/input .

In general `jsprit` will return the solution which best fits the example ta

[2018-10-26 07:40] quiqua commented on #438
Each job has a `UserData` object, you can add any data to this as you like:

From the `WHATS_NEW` document:

[code]

When creating your new constraint, you can then access all inserted jobs for the current iteration and thus their custom `UserData`.

[2018-11-06 14:29] reinterpretcat opened #439 "Vehicle's break location is ignored"
Seems break location is never considered for break activity by BreakInsertionCalculator

[2018-11-12 03:05] SLZWVICTOR opened #442 "Is it possible for a vehicle to start at one depot and end at another depot in a multi-depot problem?"
Is it possible for a vehicle to start at one depot and end at another depot in a multi-depot problem in order to get a more efficient result? If it is possible, which method should I use?

[2018-11-15 20:41] juancruzmartino commented on #148
@oblonski do you have an example on this?

[2018-11-19 16:33] juancruzmartino commented on #148
how about @PGWelch ?

[2018-11-21 00:52] SrinivasTechm opened #444 "Drop location issue"
![drop location issue](https://user-images.githubusercontent.com/45195244/48811884-b4c62180-ed6a-11e8-896d-1d3575fb73d9.png)

In the above picture,  Jsprit solution suggests to deliver job3 shipment only at 14:28:06 and Job1 shipment is delivered only with subsequent pickup at 14:39:36 . Is there a way to deliver Job1 shipment together with Job 3 shipment at 14:28:06 hours.
Can any one help on thi

[2018-11-21 07:49] oblonski commented on #444
Would you mind to ask these questions here: https://discuss.graphhopper.com/c/jsprit

[2018-11-21 07:49] #444 closed

[2018-11-21 07:49] oblonski commented on #442
Would you mind to ask these questions here: https://discuss.graphhopper.com/c/jsprit?

[2018-11-21 07:49] #442 closed

[2018-11-21 07:50] #437 closed

[2018-11-25 15:28] reinterpretcat opened #446 "DefaultScorer ignores multiple time windows of the job"
Default ScoringFunction implementation seems does not handle nicely scoring for time window param: it always picks the first time window. The issue is applicable for both service and shipment:

[code]

I think, ideally it should use time data defined on the corresponding activities, but they are hidden by events abstraction. Still doable, but requires some assumptions and type casting.

[2018-12-03 12:37] oblonski opened #447 "vrp with no jobs should return solution with no job activities"
but with start and end location of vehicles.
This is often required in dynamic vrp where vehicles just need to move from location A to B without pickups or deliveries.

[2018-12-03 15:16] oblonski commented on #447
This can be achieved by modifying the final solution like this:
[code]

[2018-12-03 15:17] #447 closed

[2018-12-04 11:16] oblonski commented on #446
@reinterpretcat You are correct. Here we should use an average time window length. Does this make sense?

[2018-12-04 14:25] oblonski opened #448 "StateManager cannot calculate route states for routes with no activity"
route.isEmpty() check prevents StateManagers to store states for routes with no activities.

[2018-12-04 16:28] #448 closed, assigned to nobody

[2018-12-06 08:09] oblonski opened #449 "allow vehicles to move to end location"
also if they are empty.
This does not only mean that they need to appear as "empty" vehicle route in the solution, but also that the algorithm knows that they need to move anyway.

[2018-12-08 08:50] Tarang opened #450 "Simple Example Doesn't work anymore"
The Simple example doesn't work anymore and breaks on this line (the 2nd one):

[code]

The error

[code]

I've tested building this project from source as well as using the maven package, version 1.7.2

Perhaps something has changed in all these years that breaks the examples? There's also a report of this from about a year ago at https://discuss.graphhopper.com/t/run-example-after-maven-package/

[2018-12-10 09:06] sj1ang opened #451 "Take Fix cost into account when switch vehicles"
It seems that jsprit does not calculate the fix cost difference when switch a new vehicle in bestInsertion. For example, if two vehicle types with the same cost params except for the fix cost ($100 vs $0)are configured in the puzzle, vehicle with $100 fixed cost wouldn't be replaced by vehicle with $0 in the final solution.
I tried calculate the difference between two vehicles in com.graphhopper.j

[2018-12-11 19:09] #450 closed

[2018-12-11 23:40] malbert137 opened #452 "RemoveEmptyVehicle could use iterator instead of copying array"
The code currently looks like this:
    public void informInsertionEnds(Collection<VehicleRoute> vehicleRoutes) {
        List<VehicleRoute> routes = new ArrayList<VehicleRoute>(vehicleRoutes);
        for (VehicleRoute route : routes) {
            if (route.isEmpty()) {
                fleetManager.unlock(route.getVehicle());
                vehicleRoutes.remove(route);
            }
        }

[2018-12-16 10:29] Tarang opened #453 "Create cost matrix based on capacity"
Is it possible to have a method override that can return the cost and time between the from and to of a route depending on the state of the vehicle at the time, i.e how long it has travelled or its capacity at the time?

[2018-12-17 07:45] oblonski commented on #453
Please use discuss.graphhopper.com for such questions.

[2018-12-17 07:45] #453 closed

[2018-12-18 07:41] Levi-Gong commented on #200
do you have any example about case one?

[2018-12-24 06:20] kienthuan opened #454 "Solution is crashed if there is any unassigned drivers in solution when using MaxTimeInVehicleConstraint"
MaxTimeInVehicleConstraint got crashed in fulfilled(...) method if there is any unassigned drivers in solution.

This will cause whole solution got error when we can still have solution with one drive.

Please try MaxTimeInVehicle with multi-vehicle and there is an unassigned driver in solution.

I move whole code in method above inside try/catch block and everything works fine.

[2019-01-07 02:41] FDU-SE-LAB opened #455 "Your project graphhopper/jsprit is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-09 14:06] kt86 commented on #55
The link above to the example is broken. This link works:
[https://github.com/graphhopper/jsprit/blob/master/jsprit-examples/src/main/java/com/graphhopper/jsprit/examples/TransportOfDisabledPeople.java](https://github.com/graphhopper/jsprit/blob/master/jsprit-examples/src/main/java/com/graphhopper/jsprit/examples/TransportOfDisabledPeople.java)

[2019-01-30 08:35] baiyyang opened #458 "In AdditionalAccessEgressCalculator class, egress cost doesn't consider completely."
Hi,
       I think in the AdditionalAccessEgressCalculator class that the calculate method about Egress costs has some  trouble. If the new vehicle need not come back depot, and the old vehicle need, then the Egress cost is the new vehicle egress cost 0 minus the old vehicle egress cost.
       But now, your idea isn't consider the egress cost if the new vehicle need not come back depot.

thanks.

[2019-02-04 08:16] AshwinTayson commented on #326
I was about to ask the same question right now. Luckily I stumbled into this. Thank you

[2019-02-15 09:50] JohanJu commented on #422
I got this too, was because of i had forgotten to install jdk. Verify that `javac -version` works.

[2019-02-25 12:32] nilsnolde opened #460 "Inconsistent time units in activities response object"
I just found a supposedly quick-to-fix inconsistency:
The `arr_time` field in the **second** `activities` object is in minutes or seconds, while all other `arr_time` fields are in UNIX epoch. It's only the first `activities` object which contains `arr_time`, hence only the second one in a list.

Maybe makes more sense, if you look at the JSON output of e.g. this one:

[code]

[2019-02-25 16:58] oblonski commented on #460
I am not sure what you mean and whether this is the right place for this issue. It seems that the example refers to GraphHopper's Optimization API and not jsprit. Is this correct? Furthermore, from the example you posted I cannot not see any inconsistencies. Would you mind to further explain what you mean?

[2019-02-25 18:20] nilsnolde commented on #460
Yes, correct, it's about GH Optimization API. I figured it's the direct output of jsprit?! If not, I'm happy to put this issue into GH itself. And I can see how this is confusing, sorry about that..

The above query is (partly) responding with the following response. Note, the difference in `arr_time` of the service with `"id": "1"` and `"id": "0", i.e. second and third activity. While the second

[2019-02-25 19:28] oblonski commented on #460
Yes, it is still the wrong place. Now it is clearer, and actually it is neither inconsistent nor a bug. The departure time of the vehicle is 0 (i.e. 1.1.1970 in unix timestamp). It takes 11902 seconds ("driving_time": 11902) to the first activity, thus "arr_time": 11902. Since this activity has a time window, the vehicle needs to wait until the time window opens (here about 49 years), i.e. 1576308

[2019-02-25 19:28] #460 closed

[2019-03-13 19:03] emersonl91 commented on #211
I'm interested in developing this feature. Anyone interested in discussing the implementation of the solution?

[2019-04-19 15:24] zouzhitao opened #462 "are there full API documents?"
this is a very nice tool.

is there a complete API document? or do you want to provide a complete API docs?

[2019-04-20 07:37] alchemist1234 commented on #454
I met the same question of Null pointer exception in MaxTimeInVehicleConstraint (line:106), but I think that is not because of the unassigned drivers, but the different types of vehicle.
If I set 2 vehicles with the same vehicle type(only one assigned), the program works fine, but if set 2 vehicles with different type, program crashed.

Here is the code, based on [MaxTimeInVehicle_IT][1]
Jsprit ve

[2019-04-23 08:02] baiyyang commented on #458
I know reason why you don't consider the newVehicle don't need come back depot....  And old vehicle also don't need come back depot...

UpdateEndLocationIfRouteIsOpen, awesome~

[2019-04-23 08:02] #458 closed

[2019-04-26 12:17] #462 closed

[2019-05-15 15:24] baiyyang opened #464 "Some unassignedJob maybe not reason when using fastRegretInsertion"
Hi, oblonski,
     &nbsp; I'm using the Jsprit for VRP. But now, when I use fast regretInsertion strategy, maybe some unassigned jobs have no reason. I think the reason that the method of vehicleDependentInsertionCostCalculator.
     &nbsp; When calculating the best insertionData by vehicleDependentInsertionCostCalculator using FastRegretInsertion strategy, some unassignedJob can't be assigned on

[2019-06-04 05:37] Szbuli commented on #435
Any update on this issue?

[2019-06-07 09:17] oblonski commented on #464
You can easily add your own reason handler via [UnassignedJobReasonTracker](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/util/UnassignedJobReasonTracker.java) like this:

[code]

[2019-06-09 13:37] baiyyang commented on #464
Oh, thank you for your reply. I think you may not understand my question. I think that maybe there are some unassigned jobs and UnassignedJobReasonTracker hasn't record any reason. In other word, the unassigned job hasn't reached the ConstraintManager to record the reason. In my submission it's a bug.
: )

[2019-06-20 21:50] grantm009 commented on #211
Hi @emersonl91

Did you make any progress with this ?

[2019-06-20 23:46] PGWelch commented on #211
If it helps, I can share some information about how we implemented multiple breaks. We did this in ODL Live which started off as jsprit plus extra stuff mostly focused on realtime/dynamic route optimisation. ODL Live doesn't use any jsprit code now but at the time we implemented multiple breaks, it still used a significant proportion of jsprit code.

If I recall correctly, the current jsprit break

[2019-06-25 12:29] Rzpeg opened #469 "Route duration (via StateManager) is always null in HardRouteConstraint"
Hi,

Trying to implement a hard route constraint that depends on the route cost and duration, however the route duration is always returned as null. The route costs return is OK.

[code]

[2019-06-26 07:18] ubarua123 opened #470 "Code level documentation would have been nice"
More than the algorithm, there are a lot of interfaces, classes which don't have any sort of documentation. How are they executed, their execution order, parameters etc.
Algorithm can be understood from the books and the white papers, but understanding someone else's library without document increases development time exponentially.
The library is excellent, but without proper documentation (code

[2019-07-01 11:55] JO-WTF commented on #269
I believe this is indeed a bug.
@lazaronixon used a workaround to get rid of the error but the problem exists.

Take the JobAndActivityDependenciesExample.java as an example, if I add one-line code as following in line 91, the error occurs:
`stateManager.putProblemState(stateManager.createStateId(((JobActivity) activity).getJob().getId()),VehicleRoute.class,route);`
The problem seems to be related

[2019-07-02 01:41] JO-WTF opened #471 "Bug createStateId with activity.getJob() inside StateUpdater"
I believe this is indeed a bug.
@lazaronixon used a workaround to get rid of the error but the problem exists.

Take the JobAndActivityDependenciesExample.java as an example, if I add one-line code as following in line 91, the error occurs:

`stateManager.putProblemState(stateManager.createStateId(((JobActivity) activity).getJob().getId()),VehicleRoute.class,route);`

The problem seems to be relat

[2019-07-04 02:20] briandilley opened #474 "Taxi / Bus use case not using optimal route"
I'm using jsprit for routing trips for a bus.  The use case is that there is a depot, and passengers take the bus to travel to and from the depot.  For instance you can schedule a pickup at your home and to be dropped off at the depot, or you may be at the depot and want to be dropped off at home.  Basically one side of the Shipment is always the depot.  I'm having some trouble with the routes tha

[2019-07-04 08:12] JO-WTF commented on #474
You concern is understandable but however you must define the priority of delivery and pickup by yourself.

In the case you introduced, it is indeed better to deliver A and B first before picking up C. However, that may result in a higher cost. So how would you leverage between the road cost and the cost of customer waiting in the cab for delivery?

What I mean here is you need to add some cost to

[2019-07-04 18:04] briandilley commented on #474
So then I should add some cost for how long each passenger is waiting in the vehicle then?  Would I use a `VehicleRoutingActivityCosts` for that?

[2019-07-04 18:26] briandilley commented on #474
Using the `MaxTimeInVehcileConstraint` as a reference I was able to create a `SoftActivityConstraint` for determining the time on the vehicle.  Now i guess I just need to figure out the math for generating a cost based on the time:
[code]

[2019-07-05 20:50] briandilley commented on #474
I figured this out with the above

[2019-07-05 20:50] #474 closed

[2019-07-05 20:59] briandilley opened #475 "HardActivityConstraint with CRITICAL Priority allowing invalid solutions."
I have a `HardActivityConstraint` for returning `NOT_FULFILLED` when the new activity is a pickup at the depot following any activity that wasn't at the depot yet there are pending non-depot deliveries to be made (that's a mouth-full).  The problem that I'm having is that I still get an invalid best solution that violates this constraint.  How can i prevent invalid solutions as the best solution?

[2019-07-13 12:43] ifle commented on #331
@oblonski @karussell
Is there any updates? Is this bug still actual?

[2019-07-13 16:26] briandilley commented on #475
I've update my constraint to be more complete, but I still have the problem of solutions coming about that violate this constraint:

[code]

[2019-07-13 16:28] briandilley commented on #469
be sure to call: `stateManager.updateLoadStates();` (and the other `update*` methods) so that the state that you're looking for is tracked.

[2019-07-13 16:36] Rzpeg commented on #469
Thanks for the hint. I'll try it later this week.

[2019-07-14 19:07] briandilley commented on #475
I've now narrowed it down to this and it's at about ~6% failure rate:

[code]

I think the problem arises when it does this (all pickups at depot):
[code]

[2019-07-18 22:45] grantm009 commented on #475
Hi Brian
Im trying to build a test program with your code.
Can you tell me the value of the constant PendingDeliveriesUpdater.DIM_PENDING_EXTERNAL_DELIVERIES
pls.

[2019-07-18 23:08] briandilley commented on #475
@grantm009 the value of that is insignificant - it's just the index of the dimension within the `StateManager` for the given `StateId` - you can give it whatever you like.

[2019-07-18 23:10] briandilley commented on #475
@grantm009 here's the entire thing: https://gist.github.com/briandilley/33a36feef99b5fa3608db25c902d29b0

[2019-07-18 23:13] grantm009 commented on #475
Thanks

--
Message  protected by MailGuard: e-mail anti-virus, anti-spam and content filtering.http://www.mailguard.com.au/mg

[2019-07-18 23:55] grantm009 commented on #475
@briandilley I assume you are using this:
@Override
	public ConstraintsStatus fulfilled(
			JobInsertionContext iFacts, TourActivity prevAct, TourActivity newAct, TourActivity nextAct, double prevActDepTime) {

		final boolean prevIsDepot = isDepot(prevAct.getLocation());
		final boolean newIsDepot = isDepot(newAct.getLocation());

		final Capacity currentLoad = stateManager.getActivityState(prevA

[2019-07-18 23:59] grantm009 commented on #475
let me expound some thought.
We have a route and we multiple runs within the route. The definition of a run is load up and deliver followed by another run of load up and delivery or - p1p2d1d2p3d3p4d4.
So I think we need a state manager for managing the runs. Then during the insert we check to see if the associated activity is already inserted and if so then in the same run. If not the same run th

[2019-07-19 09:06] oblonski opened #476 "add activities to job interface"
This allows the user to easily retrieve job related information without always turning the job into either a service or a shipment, i.e. we get rid of a number of "instanceof Shipment" stuff.

[2019-07-19 09:42] oblonski commented on #476
https://github.com/graphhopper/jsprit/commit/dd3f29b5cc8c6f525ccd617880b1f8fb0a1bb3d9 and related commits

[2019-07-19 09:45] oblonski commented on #476
[This](https://github.com/graphhopper/jsprit/commit/ac84b62651b6c88e537fbfa8eeba95e9bf54872f) and [this](https://github.com/graphhopper/jsprit/commit/fe590fc9f80b39083862fca4d270b6b8f5d0e195) illustrates the improvement.

[2019-07-19 09:47] quiqua commented on #476
That looks great! :)

[2019-07-19 10:04] oblonski commented on #476
... and it should not break anything even though it is defined in job interface since the job interface is a Schummelinterface. If you want to solve a problem with jsprit, you need to either use Service or Shipment and you are not allowed to implement your own job - as far as I can judge it now.

[2019-07-19 19:52] briandilley commented on #475
Yeah - this makes sense.  I'll think on it a bit and try something this weekend.

[2019-07-20 00:12] briandilley commented on #475
So I created a state updater for the round that sets a "run id" on each activity.  Here it is:

[code]

The problem I'm having is that the `runId` state seems to never be set on the associated activities, so the following constraint doesn't seem to work:
[code]

[2019-07-20 06:30] #476 closed

[2019-07-20 06:32] oblonski commented on #446
This should fix it: https://github.com/graphhopper/jsprit/commit/ac84b62651b6c88e537fbfa8eeba95e9bf54872f#diff-c4c1e5f2c1b63221ca16b5f5f4c2f05fR65
Thanks.

[2019-07-20 06:32] #446 closed

[2019-07-21 22:36] grantm009 commented on #475
Hi Brian
I'll play with this today.

[2019-07-22 06:42] grantm009 commented on #475
Im getting the same.
I have tested that the activity visitor does update the runId by logging the value after it is set:
			stateManager.putActivityState(activity, STATE_ID, runId);
			Utils.LOGGER.log(Level.INFO, " SM_ActivityMaxDepotsPerRunUpdater_EXP Incremented runId is now: " + stateManager.getActivityState(activity, STATE_ID, Integer.class));

but when I call getActivityState in the hard con

[2019-07-22 08:10] grantm009 commented on #475
A bit more expounding Brian
Your constraint fulfilled code looks something like this.
`	public ConstraintsStatus fulfilled(JobInsertionContext iFacts, TourActivity prevAct, TourActivity newAct, TourActivity nextAct, double prevActDepTime) {

		int runId = Optional.ofNullable(stateManager.getActivityState(prevAct, STATE_ID, Integer.class))
				.orElse(SM_ActivityRunsUpdater_EXP.START_RUN_ID);
		for

[2019-07-22 12:37] briandilley commented on #475
You could, I guess I was just being overly cautious... I'm not entirely
sure how this API works and there is no documentation so I'm pretty much
fumbling in the dark on this stuff.

On Mon, Jul 22, 2019, 1:10 AM grantm009 <notifications@github.com> wrote:

[2019-07-25 05:11] grantm009 commented on #475
Hi Brian
I think I have had some success. I have a set of jobs that was consistently routing for topups, now not doing so.
I'll run a series of tests over the next few days and then share the code with you.
We have lots of jobs so not difficult to run on older job queues.
regards
Grant

[2019-07-26 02:51] briandilley commented on #475
excellent - looking forward to it.

[2019-07-27 16:26] briandilley commented on #475
@grantm009 any updates?

[2019-08-05 12:47] Rzpeg commented on #211
@PGWelch Given that you no longer use the jsprit in ODL, could you maybe opensource the solution for jsprit?

[2019-08-06 21:43] grantm009 commented on #475
Hi Brian
Sorry bud I had to zoom off unexpectedly for a bit.
But Im back.
Here is what I have done. It still misbehaves very occasionally. Maybe you can see a flaw. @oblonski Could you maybe cast your eye over it please?

1st this is what I put in the main code. I use depotList because we have multiple depots.

[code]

Next is the state updater. There is a large chunk of commented code which I use

[2019-08-06 21:53] briandilley commented on #475
The problem with our approaches is that the insertion may be fine for the current job being inserted... but it breaks an existing job that was already inserted.

[2019-08-12 17:01] Rzpeg commented on #211
@oblonski
Hey. This is a really needed feature due to new EU regulations. Is there any progress on the feature?

[2019-08-12 17:05] Rzpeg commented on #99
@oblonski This is really important due to EU Regulations.
Relates to #211

[2019-08-14 02:28] brucefeng10 commented on #326
Yes, if you choose false(asymmetric matrix), you have to customize all (from, to) values, that is n*(n-1) pairs in total, not just several specific pairs.

[2019-08-14 15:06] Rzpeg commented on #469
@briandilley It works, but the states are accessible only in constraints.
I need to access a few states for the best solution found. I can use the SolutionAnalyser to get built-in states but there's no way I can add my custom StateUpdaters to the analyzer. The only way I've found is just copy-pate the analyser code, add my updaters to its statesManager.
Is there a better way of doing it ?

[2019-09-12 17:03] shortwavedave opened #478 "Hard Constraint Dependent on Complex Function of Time"
How would I go about defining a hard constraint that was a function of time. For example, vehicles are transporting goods with a life that decreases by 1/t, and each location along a route requires a specific amount of life left in the goods.

I'm not sure what to access in JobInsertionContext when defining the hard constraint

Thanks for your help

[2019-09-12 17:40] #478 closed, assigned to nobody

[2019-10-05 11:42] miandai opened #479 "Test jsprit on homberger benchmark"
I tested jsprit on homberger benchmark dataset. The result is not optimistic. jsprit is much worse than optaplanner.

For example, in C1_10_2.TXT, OptaPlanner use 100 vehicles and 42545 distance cost. But jsprit use 110 vehicles and 61153 distance cost. The gap is too big.

I am confused. It must be something wrong.  Has anyone else done this experiment?

[2019-10-05 12:22] jcoupey commented on #479
First you need to keep in mind that direct comparisons are only meaningful if the optimization objectives are the same. For example, the usual [best known solutions](https://www.sintef.no/projectweb/top/vrptw/homberger-benchmark/1000-customers/) for the Homberger benchmarks are reported using a hierarchical objective: 1) Minimize number of vehicles 2) Minimize total distance.

Then there is probab

[2019-10-05 13:22] miandai commented on #479
Thanks for your reply @jcoupey .

There is probably a matter of tuning. But I don't know how to tune. I used SolomonExample to do test Homberger dataset directly. I have little experience in jsprit. Looking forward someone to correct me.

If someone have done the same experiment. I need your advice. Thanks very much.

[2019-10-07 09:26] oblonski commented on #479
Thanks for your "benchmark". @jcoupey wrote what needs to be said. There is nothing left to be added. Thanks a lot @jcoupey.

BTW: I get 97 vehicles and 42224 with my very first trial (source code attached). I am sure it can be improved further by tuning the algo with regards to computation time and solution quality. I am pretty sure that this is also valid for optaplanner and vroom.

[code]

Plea

[2019-10-07 09:26] #479 closed

[2019-10-16 04:57] grantm009 commented on #211
Hi folks
This critical element still seems to be not getting any attention.
It will render JSprit irrelevant in the near future if it can't handle multiple breaks.
What can we do to move this along?
What can I do to move this along?

[2019-10-17 09:48] miandai commented on #479
Thans for your code @oblonski .
I added the code:
`Jsprit.Builder builder = Jsprit.Builder.newInstance(vrp);
builder.setProperty(Jsprit.Parameter.CONSTRUCTION, Jsprit.Construction.BEST_INSERTION.toString());
builder.setProperty(Jsprit.Parameter.FAST_REGRET, "true");
VehicleRoutingAlgorithm vra = builder.buildAlgorithm();
`
Now the result is very good.
For C1_10_2.TXT,  jsprit use 98 vehicles and 4

[2019-10-17 16:47] emersonl91 commented on #211
Hi guys, sorry for the delay. I had no further progress because I changed employer and now I do not work with routing, but I am interested in helping with implementation. I did several tests, but I had difficulty understanding some concepts, especially in the VehicleDependentTimeWindowConstraints file. What do you think about creating a slack channel to strengthen communication?

[2019-10-23 23:57] grantm009 commented on #211
Hi @emersonl91

Lets go ahead and create that slack channel (whatever that is 👍 )

Im very keen to see this implemented as Im sure others are as well.

regards
Grant

[2019-10-24 00:17] joaoplay commented on #211
Hi everyone,

I already tried to implement the rest periods as stated in the EU regulations. Unfortunately, I didn't reach a 100% working solution. In some cases, the constraints got broken after the ruin process. Though I'm currently working on a different area, I'm still interested on a fully working solution for this problem.

Glad to know that the comunnity is considering creating a Slack chan

[2019-10-24 02:53] emersonl91 commented on #211
Looks like we'll have progress!

I created the channel on slack, the link to the invitation is:
https://join.slack.com/t/jsprit-unofficial/shared_invite/enQtODA3MDMxNzQ2NTgxLTQyMWNkYTY5ZWUxZTdlZDc4OTgwYjMxMjgwZTg1OTQzZTk5YjE4ZTzDzYzzzzkz

The url was: https://jsprit-unofficial.slack.com

[2019-10-24 06:01] grantm009 commented on #211
When I clicked on the invite it said it was no longer active. Perhaps it is per person

[2019-10-24 13:25] quiqua opened #480 "Vehicle arrives early at Shipment with DeliveryTimeWindow"
## Issue

When creating a shipment with a delivery timewindow set to a specific time, the assigned vehicle will arrive early at the corresponding pickup and delivery activities:

[code]
[code]

## Expected behaviour:

The vehicle arrives at 40 for the delivery and figures out the latest time to achieve this.

---

If I set a corresponding pickup timewindow, I can force the desired behaviour, yet I

[2019-11-04 10:40] chakravarthiKalyan opened #481 "New feature: disallow vehicles"
refer:
https://discuss.graphhopper.com/t/new-feature-disallow-vehicles/2514

We need this feature to restrict some vehicles at some nodes. Wondering if this feature will be part of Jsprit anytime.

We are also open to contribute to the library but wondering if its going to be re-work. Kindly suggest how to go about it.

[2019-11-04 10:55] quiqua commented on #481
You can add such a feature by adding a HardActivityConstraint and/or HardRouteConstraint, when solving a VRP.

[2019-11-06 09:09] chakravarthiKalyan commented on #481
Thanks @quiqua, doing the same at the moment.

But looking forward to contribute this feature to the lib.

[2019-11-12 06:31] Szbuli commented on #435
@oblonski Can you give us some hints/ideas how to solve this problem? We might be interested in implementing it.

[2019-11-12 21:03] grantm009 commented on #481
Also restricting vehicles is a complex matter. It can involve vehicle skills and driver skills etc.
As quiqua says it is best handled in hard constraints.

As an example we have situations where vehicles are restricted based on body type, post code, load type etc etc

[2019-11-12 21:07] grantm009 commented on #439
Does that mean you fixed this issue in a version ?

regards
Grant

[2019-11-12 21:16] grantm009 commented on #211
Hi @emersonl91

The channel link on slack does not work. Can you please create a new link

[2019-11-12 21:25] reinterpretcat commented on #439
I wrote a test to check that the fix is working in some minimalistic use case (see commit details)

[2019-11-14 11:49] asma-safaya opened #482 "Bug in VrpXMLReader when calling .read with solutions, all solutions have zeros arrTime and endTime"
I think this is a bug,
I read an xml file (wrote using VrpXMLWriter) with problem and solutions as following:

VehicleRoutingProblem.Builder builder = VehicleRoutingProblem.Builder.newInstance();
                ArrayList<VehicleRoutingProblemSolution> solutions = new ArrayList<>();
                new VrpXMLReader(builder, solutions).read(fileName);
                VehicleRoutingProblem vrp = bui

[2019-12-30 17:12] AmayaSasaki opened #484 "Bug with dependency"
Hello,

I am running Jsprit on Windows 10 with Eclipse IDE.

In `SimpleExample.java`, the line
`new VrpXMLWriter(problem, solutions).write("output/problem-with-solution.xml");`
 leads to the following error

[code]

However I do have Commons Configuration 2.6 and Commons Lang 2.6 in my Classpath.
Could you help me resolve this issue please? Thanks.

[2019-12-30 17:15] AmayaSasaki opened #485 "Plot bug"
Hello,

I am running Jsprit on Windows 10 with Eclipse IDE.

In `SimpleExample.java`, the line
`new Plotter(problem,bestSolution).plot("output/plot.png","simple example");`
leads to the following exception

[code]

Thanks for the help!

[2020-01-22 17:07] frinux opened #486 "Keep n unique and most effective alternatives"
This is either a question or a feature request.

It would be handy to keep not only the best solution, but also n other feasible and unique alternatives (sorted by cost).

[As pointed by Hung_Do_Xuan in the forum](https://discuss.graphhopper.com/t/need-multiple-best-solutions/3534), a solution exist by writing an `IterationEndsListener` and keep these alternatives in memory:

    algorithm.addList

[2020-01-23 14:52] oblonski commented on #486
I doubt that these solutions are good alternatives. A more promising approach is to solve your problem with different random numbers, i.e. different roots for the random number generator. This way, the algorithms walks different paths through the solution space and might provide you with alternatives of similar quality.

[2020-01-23 15:33] frinux commented on #486
I'm not sure I understood the Ruin and Recreate then.

I thought the idea was to iterate over feasible solutions, alter (ruin) them to find new and better solution. Thus, storing the 10 best (as best score) iteration solutions should return what I'm looking for.

In parallel, I tried to follow your advice ([and your implementation there](https://github.com/graphhopper/jsprit/issues/157)):
[code]
A

[2020-01-23 15:44] oblonski commented on #486
It depends on what you expect from alternatives. If you just want to know which tentative solutions are used by the algorithm to find the final solution, you can just implement https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/algorithm/listener/StrategySelectedListener.java and add it with .addListener(...) to your algorithm.

[2020-01-23 16:14] frinux commented on #486
The idea is to fetch the n best solutions found during the solving process (I call them "alternatives").
I'm aware that depending on the initial solution found, we may be already near the optimum, so it would generate few alternatives.

For instance, given this problem:

![problem-1579795698](https://user-images.githubusercontent.com/636404/73001686-28e2d600-3e03-11ea-8586-b1c7fda203bc.png)

I wou

[2020-01-27 13:59] andreylh commented on #211
@grantm009 Sorry, emersonl91 is no longer working in our company, so I believe that the channel on slack is dead.

[2020-01-27 18:11] emersonl91 commented on #211
Hi @grantm009, @andreylh

Sorry for the delay, the idea of slack is to really solve this. hehehe I'm still interested in solving this issue.

Follow the link, now with no expiration date.

https://join.slack.com/t/jsprit-unofficial/shared_invite/enQtOTExMTUzNDg5MDQyLWJlNzc2YWI4OGU3ODQxMWQ4MTY1MGJjNTdjMTZlYTliY2ViYWIyY2NiY2Q3Yzc3Y2ExNzQyZTVlYmQzNmFkNDY

[2020-02-03 01:08] emersonl91 commented on #211
Hi guys, i started to work in the first scenario: add two breaks in a route, this scenario is for simulate the night rest.
I will work in the branch "multiple-breaks-examples" in my fork:
https://github.com/emersonl91/jsprit/tree/multiple-breaks-examples

[2020-02-13 12:21] hanu7674 opened #487 "how can i integrate the jsprit into the graphhopper..."

[2020-02-13 12:24] #487 closed

[2020-02-13 12:28] hanu7674 opened #488 "integrate the jsprit with the graphhopper"
i want to integrate the graphhopper with the jsprit for the traffic salesman problem.
how can i do that ...can anyone explain....?

[2020-02-13 16:11] oblonski commented on #488
Please post your questions here: https://discuss.graphhopper.com/c/jsprit
Thanks a lot.

[2020-02-13 16:11] #488 closed

[2020-02-27 07:52] kstrizhov opened #489 "Set time and distance units"
Is it possible to configure the units in which solver does the calculatons?

It is not really reasonable in real life to set and solve routing problems  in meters for distances, meters per second for velocities, seconds for times and so on, and it's very confusing to set costs for meter, second etc.

[2020-02-27 14:18] Morty-se opened #490 "Some dependencies contain CVEs"
I found your project used some dependencies that contain CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See details below:
* **Vulnerable Library Version:** org.apache.logging.log4j : log4j-core : 2.0.1
  **CVE ID:** [CVE-2019-17571](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17571), [CVE-2017-5645](https://cve.mitre.org/cgi-bin/cve

[2020-03-23 19:44] marcioaguiar commented on #211
@emersonl91 I see that you are working on this feature and that there's work still not commited to your fork:
https://discuss.graphhopper.com/t/multiple-breaks-for-vehicles-feature-211/4213

Is there any way I can help? I don't have the much experience on jsprit source code, but I'm willing to lean and make tests.

[2020-03-26 08:06] oblonski commented on #489
Sure, you decide which units to use. If you want to use km/h, specify your travel time and distance matrix as well as your cost params accordingly.

[2020-03-26 08:06] #489 closed

[2020-03-28 17:03] #452 closed

[2020-03-28 17:04] #485 closed

[2020-03-28 17:06] oblonski commented on #486
It does not evaluate all feasible solution. It is actually the purpose the meta-heuristic to avoid that, but to search for promising solutions in the search space.

[2020-03-28 17:06] #486 closed

[2020-03-28 17:06] #484 closed

[2020-03-28 17:08] oblonski commented on #482
arrTime and endTime are modified and determined by the search for a solution, therefore, I do not see any point to specify it here.

[2020-03-28 17:08] #482 closed

[2020-03-28 17:09] oblonski opened #492 "New Feature: Allow Vehicles"
Will be availabe with #481 soon.

[2020-03-28 17:15] #395 closed

[2020-03-28 17:16] #422 closed

[2020-03-28 17:18] #370 closed

[2020-03-28 17:19] #369 closed

[2020-03-28 17:19] #368 closed

[2020-03-28 17:19] #367 closed

[2020-04-06 12:40] ifle commented on #475
I also still have top ups problem. Can you please share your solution?

[2020-04-06 18:51] grantm009 commented on #475
Hi
We have overcome this. Our method may/may not suit your situation but it works for us.
First some terms and background. A Vehicle has a _route_ made up of a number of _runs_. Each run consists of some pickups and deliveries which must occur as PPPDDD. A pattern of PPDPDD is what we call a top-up and is what we want to avoid.

We do this in the solution checker which you add to the algorithm as:

[2020-04-06 20:59] ifle commented on #475
Thanks for your answer. What is RouteRuns?

[2020-04-06 23:08] grantm009 commented on #475
Routeruns is a class that manages our "runs" approach. It is quite proprietary and Im afraid I cant share that class. Essentially you just want a function that takes a route and iterates over it to identify the runs.
Here is a code snippet that should help.
	private void findRuns() {
		runs.clear();
		// split the route into runs
		int actCount = route.getActivities().size();
		ArrayList<Integer>

[2020-04-07 11:43] ifle commented on #475
Thanks. Will take a look

[2020-04-12 04:15] sdTolik commented on #454
Since vehicle switch does not matter for this constraint, I've used the simple fix to replace line 106 in MaxTimeInVehicleConstraint with the following
`
Double d = stateManager.getActivityState(nextAct, iFacts.getNewVehicle(), minSlackId, Double.class);
   if(d == null) {
      d = stateManager.getActivityState(nextAct, iFacts.getRoute().getVehicle(), minSlackId, Double.class);
    }
minSlack = d

[2020-04-16 22:19] grantm009 commented on #475
@ifle is it working for you ?

[2020-04-17 04:41] ifle commented on #475
@grantm009 Yes, thanks. We still not use it on production. The idea move splitted shipments to unassigned jobs works well. We found for some problems we must to increase the iterations otherwise, the result is suboptimal.

[2020-04-17 04:49] grantm009 commented on #475
Yes we found it needed more iterations as well.

[2020-04-17 08:26] ifle commented on #475
Do you have recommendations about number of iterations?

[2020-04-17 12:58] oblonski commented on #211
Modelling multiple breaks should now be possible with the latest master. It allows you to add an arbitrary number of services without locations which can represent breaks.
However, the changes might break your code, i.e. you might need to adjust your own custom constraints as it was done here for example: https://github.com/graphhopper/jsprit/pull/491/commits/3b02e27c1a04effbae66e48dc38e0b9916c0b6

[2020-04-17 13:00] oblonski commented on #344
Can now be modeled with https://github.com/graphhopper/jsprit/pull/491

[2020-04-17 13:00] #344 closed

[2020-04-21 05:43] #211 closed

[2020-04-21 21:25] grantm009 commented on #211
Hi @oblonski

This sounds great. I will finish my current task in a few days and will build this into a test version of our application. But is sounds exactly what we (and others) need.

Thanks for taking the time to do this.
I trust you are safe and well in this challenging time.
regards
Grant

[2020-05-13 16:31] oblonski opened #493 "implement new acceptence criteria"
as described in https://santini.in/files/papers/santini-ropke-hvattum-2017.pdf

Their general recommendation is to implement the linear version of record-to-record acceptance.

[2020-05-13 16:33] oblonski commented on #493
<img width="996" alt="Screenshot 2020-05-13 at 18 32 18" src="https://user-images.githubusercontent.com/5714926/81839650-20e0aa80-9548-11ea-9ed0-c05161e1db39.png">

Source: Santini, A., Ropke, S. & Hvattum, L.M. A comparison of acceptance criteria for the adaptive large neighbourhood search metaheuristic. J Heuristics 24, 783–815 (2018). https://doi.org/10.1007/s10732-018-9377-x

[2020-05-13 17:30] oblonski commented on #493
T=(T_start - T_end)/K
T_start=0.0167, T_end=0

[2020-05-14 00:05] VanderIG123 opened #494 "Inconsistent solutions"
While implementing the code described here:https://github.com/graphhopper/jsprit/blob/master/docs/Simple-Example.md

I noticed that the solutions tend to change depending on the order of insertion of the jobs.
Lets say for example that the optimal solution for 3 jobs: job1,job2 and job3 is job1->job2->job3
If I insert job1 then job2 and then job3 I usually get the optimal solution.

The problem is

[2020-05-14 07:31] oblonski commented on #493
You can try out like this:

[code]

[2020-05-15 12:20] RILUCK opened #495 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
while running the VehicleRoutingProblemTest.java
Any file which is missing which has to be imported externally?

[2020-06-10 10:35] azerphoenix opened #497 "Question about Time window"
Hello dear developers!
I want to ask you a question.
What to do in cases when the construction of a optimized route taking into account the time window is impossible?
For Example: we have a several points. And the route between any two selected points cannot be constructed, since we do not fall into the time window #

[2020-06-10 11:39] azerphoenix opened #498 "Question about traffic jam"
Hello dear developers!
Is there any solutions for integration traffic jams info? May be there is any integrated sdk for working with APIs (Tomtom, Here etc.)?
Thanks in advance!

[2020-06-23 09:23] oblonski opened #500 "if no job has a location, it throws IllegalArgumentException"
RuinRadial.ruinRoutes(...) throws Exception with following message: "bound must be positive"

[2020-06-23 14:03] shashikant777 opened #501 "Soft Activity Constraint not working"
Soft Activity Constraint not working not working for me.

I want to add a soft constraint for distance. If distance for a route is greater than a value(in this case 40000 meter). I expected result that it should use two vehicles if distance for a route is more than this value. It does not work no matter how much I increase penalty cost.

My code is-

DistanceConstraintService class

public class D

[2020-06-25 06:46] oblonski commented on #501
Thanks for your question. Would you mind to post your problem here: https://discuss.graphhopper.com/c/jsprit/9
Thanks a lot!

[2020-06-25 06:46] #501 closed

[2020-06-25 06:46] oblonski commented on #498
Please use this https://discuss.graphhopper.com/c/jsprit/9 for your questions. Thanks a lot!

[2020-06-25 06:46] #498 closed

[2020-06-25 06:48] #493 closed

[2020-07-02 09:42] jackzhenguo opened #503 "Bug"
When different vehicles have different departure and returning time, there are points in the route that can not meet the time window

Reason: when exchanging vehicles, whether the vehicle can meet the time window on the existing route is not considered

[2020-07-04 18:00] ifle commented on #475
Hi @grantm009,

We have array index out of bounds exception when use initial routes. Do you fimilar with this issue?

[2020-07-05 10:39] rahul-algorithmgeek commented on #494
@VanderIG123  Does the cost also change once the route is created or the cost of both routes are same ?

[2020-07-09 13:46] rahul-algorithmgeek opened #505 "VRPTW with Pickup and Delivery"
VRPTWPD it is taking around 20 minutes to **create initial solution** for 250 shipments.
Is there any way I can do it faster ? I am using default VRA settings.  Plsease help if any particular setting needs to be added.

Thanks.

[2020-07-17 13:11] kaleeswaran14 commented on #357
Complete code snippet MaxDistanceConstraint

`
StateManager stateManager = new StateManager(problem);
ConstraintManager constraintManager = new ConstraintManager(problem, stateManager);
StateId maxDistance = stateManager.createStateId("max-distance");

Map<Vehicle, Double> distMap = new HashMap<>();
distMap.put(vehicle1, 15d);

MaxDistanceConstraint distanceConstraint = new MaxDistanceConstraint(s

[2020-08-07 15:30] shmert commented on #454
Thanks, @sdTolik that's a huge help. I also needed a similar patch around line 144

[code]

[2020-08-15 05:31] ifle commented on #493
@oblonski Do you have general recommendations about using this new acceptance method?

[2020-10-29 08:03] ismaelrh opened #511 "Worst results after Hashset modification"
Commit https://github.com/graphhopper/jsprit/commit/1ebf2360096f911329f3ebc39fbd395b0fa9e162 slightly changes RuinAndRecreateModule.java, by modifying the creation and populationof the HashSet from

[code]
to
[code]

Even though this should not produce any difference, as they are equivalents, I am obtaining slightly poorer results with the second approach on the optimizations I perform, in differe

[2020-10-30 09:25] rellmar commented on #480
Any sulotion to this problem?

[2020-12-05 20:40] magicmass opened #514 "Can you add support for cluster API?"
@oblonski Can you please add java support for the cluster api?

There doesn't seem to any java examples for it yet.

Link to a blog about it: https://www.graphhopper.com/blog/2020/02/12/cluster-api/
Link to docs: https://docs.graphhopper.com/#operation/solveClusteringProblem

[2021-04-10 18:04] umitkose opened #518 "ETA (Estimated Time of Arrival) calculation."
I am trying to calculate ETA for a list of delivery jobs.
After getting a solution by following the path  Solution > Route> TourActivity we can access getArrTime and getEndTime methods.
Can we calculate the ETA of a delivery by startTime + getArrTime?  I tried this formula but I guess getArrTime only respects to service durations assinged to delivery job.

If someone confirm my formula I will sear

[2021-04-30 06:41] nitinFareye1 commented on #211
@grantm009 were you able to get correct solution for this?

[2021-05-06 16:29] solerf commented on #269
I'll leave what I found in case it helps anyone. I was getting the same exception at the same point that @lazaronixon described and found that when creating a new `stateId` that does not exists yet during algorithm execution it resets the state inside [StateManager](https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/algorithm/state/StateManager.

[2021-06-01 12:50] AlexStanovsky commented on #479
@miandai can you share the running times of this solution (with the machine) ?

[2021-06-06 13:26] qtbgo opened #522 "how to solve this very big instance Leuven2.txt with 4000 customers."
Hello, I just wonder if jsprit  can solve Leuven2 instance, which has 4000 customers.
see http://vrp.atd-lab.inf.puc-rio.br/index.php/en/
under Arnold, Gendreau and Sörensen (2017)

I adjust the format to Christofides format so that I can solve it using jsprit.  The jsprit solving file and the instance are attached.
the best known solution is 111399, while my jsprit solves it around 130000 in an h

[2021-06-15 02:10] niocoders opened #523 "Jsprint and Google Map"
Hello, I want to integrate Google maps to calculate the actual distance in the city. Can you give me an idea, thank you

[2021-07-22 00:34] bludginozzie opened #525 "Feature Request: Pass previous activity to VehicleRoutingActivityCosts.getActivityDuration"
We use this method to implement the time it takes to pickup or deliver the freight.  In real life this is the time it takes to park the vehicle and enter the premises to perform the pickup or delivery.  However in some circumstances the pickup or delivery is at the same location as the previous one so this time is reduced in this case.

Essentially we want to implement something like this:

[code]

[2021-07-22 00:40] bludginozzie commented on #523
You would need to implement your own `VehicleRoutingTransportCosts`

For example:
[code]

Then
`vrpBuilder.setRoutingCost(new GoogleMapsVehicleRoutingTransportCosts());`

NOTE: This will be very expensive in both time and API calls so you may want to consider a cache.

[2021-07-22 00:43] bludginozzie commented on #518
Yes, I think your formula is correct.  In essence the `TourActivity.getArrTime()` can be considered an ETA for an activity.

[2021-07-28 18:25] 3nt3 opened #526 "meta-heuristic link in README leads nowhere"
The [meta-heuristic](https://github.com/graphhopper/jsprit/blob/docs/Meta-Heuristic.md) is linking to https://github.com/graphhopper/jsprit/blob/docs/Meta-Heuristic.md which doesn't exist.

[2021-08-02 14:59] ibatanov commented on #349
hi everyone! this problem not considered?

[2021-08-04 23:15] waldobeest commented on #525
I have created a PR for this exact purpose: https://github.com/graphhopper/jsprit/pull/527

The challenge I am facing, is that it seems that some other vehicle constraints are being disregarded.

[2021-08-12 11:52] anjy-07 commented on #156
I am getting the same issue, I am using a separate random instance every time with a single vrp, in a controlled environment (fixed number of iterations, 100, with BestInsertsion Search Strategy). I am getting different results with each run.

[2021-09-10 18:55] AymanABDELHAMID commented on #213
Hello, I know this is an old bug. However, in the initial solution generated by Jsprit; number of routes > number of vehicles available. Hence, I get the error of "Cannot lock vehicle twice" how can this be avoided? Thanks.

[2021-09-13 19:47] yasha-spare commented on #523
Re: "This will be very expensive in both time and API calls so you may want to consider a cache.", regardless of what system you're using for routing costs (Google Maps, GraphHopper, OSRM, etc.), a common approach is to make a "routing costs matrix" type call.  i.e. say you have 100 locations in your problem, at the start of the problem you make a single call to the your routing costs system to ge

[2021-09-22 11:45] balage1551 opened #529 "Pick-one-of-many target: could it be done?"
Hi!

I'm back with a new challenge.
I have to find a TSP solution of a flow-network: a non-complete graph, where the vertexes has dimension, so distance of A and B differs depending on the previous steps of the path. As it can't be handles due to the algorithm ruin-and-rebuild nature, I though another way to solve it.

Each vertex (destination) has a few possible entry and exit points. So I could

[2021-09-22 15:15] balage1551 commented on #529
To compose the question:

Can I make a context-dependent distance matrix? In other word: a distance calculation doesn't only depend on the two nodes, but the current route itself. (Or in my case: the step before _from_.)

[2021-10-27 11:16] nkaragiannis opened #531 "A way to force the algorithm to utilize a fixed number of vehicles"
Hi everyone!

In this issue related on how to force the algorithm to utilize a fixed number of vehicles : https://github.com/graphhopper/jsprit/issues/239,
PGWelch wrote:

"It may be more reliable to actually modify the insertion and ruin heuristics a bit. Assuming you want n vehicles, for the initial solution construction, randomly choose n jobs, assigning one per vehicle and then apply cheapest

[2021-11-07 13:22] touchmii opened #534 "How to use cost matrix to solve multi-vehicle routing problem?"
I changed the CostMatriEample.java and added a car, but the result was a route for only one car. Whether the routing result of multiple vehicles can be calculated by cost matrix. I want to embed Jsprit into my scheduling software. The calculation of the distance between each position is complicated (there are many points between them), which has been calculated by the algorithm. Can Jsprit calcula

[2021-11-11 18:01] topcerebro commented on #242
Priority 2 is assigned by default in the class Service and Shipment: private int priority = 2;.

So using priority=2 is the same as not using it.
Using priority > 2, means decreasing the priority by default.

[2021-12-09 02:40] ricardocomfort opened #535 "Jobs Cannot Picked up though valid timewindow"
Hi everyone,

I am still pretty new to this VRP solution.

Recently , I received lots of issues from the user where many jobs practically can be picked up but somehow according to vrp, the new job is not possibly picked up.

There is one sample, J93569
Input to the VRP :
Active Jobs:
Shipment-JobID: J93567 NoOfPax: 1, Pickup Stop15029, Drop Stop: 15285, PickUp TimeWindow: (13:51:40 - 14:01:40) ETA

[2022-01-10 12:31] bednic commented on #511
Can you tell in percentage how much it differ, if it is worth solving.

[2022-03-15 07:27] teastares opened #540 "Distance/duration constraint"
Is there any way we can constraint the total distance or duration for every route/vehicle?

[2022-03-15 08:17] rewertvsp commented on #540
Hi, using MATSim with the extension of jsprit we developed a distance constraint. The published paper you can find here: [https://doi.org/10.1016/j.trpro.2021.01.061](https://doi.org/10.1016/j.trpro.2021.01.061)
With this constraint you can set a max distance for each vehicle type.
The code is part of the freight extension of MATSim and can be found here: [https://github.com/matsim-org/matsim-libs

[2022-03-23 12:59] oblonski opened #541 "jobs might end up in unassigned job list twice"
which can lead to the fact that there can suddenly be 2 identical jobs in the solution.
The probability for this behavior increases the more unassigned jobs a solution has.

[2022-03-23 13:01] #541 closed

[2022-03-23 13:03] oblonski commented on #540
https://github.com/graphhopper/jsprit/blob/master/jsprit-core/src/main/java/com/graphhopper/jsprit/core/problem/constraint/MaxDistanceConstraint.java

[2022-03-23 13:03] #540 closed

[2022-03-23 13:07] #470 closed

[2022-03-23 13:07] #494 closed

[2022-03-23 13:07] #503 closed

[2022-03-23 13:07] #514 closed

[2022-03-23 13:07] #522 closed

[2022-03-23 13:07] #523 closed

[2022-03-23 13:07] #529 closed

[2022-03-23 13:07] #531 closed, assigned to nobody

[2022-03-23 13:07] #534 closed

[2022-03-23 13:09] #438 closed

[2022-03-23 13:11] #66 closed

[2022-03-23 13:11] #86 closed

[2022-03-23 13:11] #88 closed

[2022-03-23 13:11] #89 closed

[2022-03-23 13:11] #93 closed

[2022-03-23 13:11] #97 closed

[2022-03-23 13:11] #133 closed

[2022-03-23 13:11] #138 closed

[2022-03-23 13:11] #140 closed

[2022-03-23 13:11] #148 closed

[2022-03-23 13:11] #174 closed

[2022-03-23 13:11] #179 closed

[2022-03-23 13:15] #270 closed

[2022-03-23 13:15] #287 closed

[2022-03-23 13:15] #290 closed

[2022-03-23 13:15] #324 closed

[2022-03-23 13:15] #328 closed

[2022-03-23 13:15] #333 closed

[2022-03-23 13:16] #207 closed

[2022-03-23 13:16] #217 closed

[2022-03-23 13:16] #239 closed

[2022-03-23 13:16] #249 closed

[2022-03-23 13:16] #256 closed

[2022-04-13 09:53] teastares opened #543 "customized operator"
When solving a VRPTW with compactness and convex hull overlap considerations, I found the solution converges too slowly using the default operators.

Since Jsprit is based on the (A)LNS framework, I suppose using customized ruin/insertion operator(s) may be possible. So how can I using/adding customized operators to the algorithm.

[2022-04-22 16:45] danghung-dev commented on #435
@oblonski can you give us some hints ?

[2022-06-18 18:16] hanslovsky opened #545 "Use in non-routing problem"
Thank you for your great work contributing a TSP solver to the Java open source community!

I used TSP for sorting images based on some similarity criterion. At the time, I used the concord solver but
 1. I have to write the distance matrix to a file for consumption by concord in a separate process
 2. concorde requires commercial CPlex solver

I just came across jsprit and would like to explore i

[2022-07-15 18:51] yasha-spare commented on #331
FWIW, we have a complex jsprit based system, where we use initial routes to represent the current driver schedules, then try to add a single new shipment to them.  We use FAST_REGRET and initial routes together, running this ~200K/day, and have never encountered this bug.  I'd guess it's either fixed, or only happens with very specific setups.

[2022-07-22 11:39] KirschBa commented on #471
Hi @JO-WTF ,

have you found out anything new on the subject in the meantime?